<div class="col-xs-2 text-right">
    <div style="float:left">
        <button class="btn btn-link btn-xs" ng-click="onDel({index:index})" title="delete this strata"><span
                class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div style="float:right">
        <button ng-if="!$parent.$first" ng-click="onUp({index:index})" type="button" class="btn btn-link btn-xs" title="move up this strata"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
        <button ng-if="!$parent.$last" ng-click="onDown({index:index})" type="button" class="btn btn-link btn-xs" title="move down this strata"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
    </div>
</div>
