{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if pages %}
    {% for page in pages %}
        <a href="{% pageurl page %}">
            <div class="c6">
                {% if page.feed_image %}
                    {% image page.feed_image max-89x88 %}
                {% endif %}
                <h3>{{ page.title }}</h3>
                {% if page.search_description %}
                    <p>{{ page.search_description }}</p>
                {% endif %}
            </div>
        </a>
    {% endfor %}
    </div>
{% endif %}
