{% load static %}

<!DOCTYPE html>
<html ng-app="micorrApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

    <title>MiCorr</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../static/micorr/style/main.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js" type="text/javascript"></script>
    <script src="../static/micorr/scripts/dependencies/angbootstrap.min.js"></script>
    <script src="../static/micorr/scripts/dependencies/raphael.export.js"></script>
    <script src="../static/micorr/scripts/directives/picklist.js"></script>
    <script type="text/javascript" src="http://gabelerner.github.io/canvg/canvg.js"></script>
    <script src="../static/micorr/scripts/dependencies/svg.js"></script>
    <script src="../static/micorr/scripts/utils/graphGenerationUtil.js"></script>
    <script src="../static/micorr/scripts/algorithms/poissonDisk.js"></script>
    <script src="../static/micorr/scripts/business/stratigraphy.js"></script>
    <script src="../static/micorr/scripts/business/strata.js"></script>
    <script src="../static/micorr/scripts/business/characteristic.js"></script>
    <script src="../static/micorr/scripts/business/subCharacteristic.js"></script>
    <script src="../static/micorr/scripts/app.js"></script>
    <script src="../static/micorr/scripts/init.js"></script>
    <script src="../static/micorr/scripts/controllers/addStratigraphy.js"></script>
    <script src="../static/micorr/scripts/controllers/listArtefacts.js"></script>
    <script src="../static/micorr/scripts/controllers/main.js"></script>
    <script src="../static/micorr/scripts/controllers/modalAddArtefact.js"></script>
    <script src="../static/micorr/scripts/controllers/modalAddChildStrata.js"></script>
    <script src="../static/micorr/scripts/controllers/modalAddChildStrataInstance.js"></script>
    <script src="../static/micorr/scripts/controllers/modalAddStrata.js"></script>
    <!--<script src="../static/micorr/scripts/controllers/modalAddStrataInstance.js"></script>-->
    <script src="../static/micorr/scripts/controllers/modalAddStratigraphy.js"></script>
    <script src="../static/micorr/scripts/controllers/modalAddStratigraphyInstance.js"></script>
    <script src="../static/micorr/scripts/controllers/modalDelArtefact.js"></script>
    <script src="../static/micorr/scripts/controllers/modalDelStrata.js"></script>
    <script src="../static/micorr/scripts/controllers/modalDelStratigraphy.js"></script>
    <script src="../static/micorr/scripts/controllers/modalExportStrata.js"></script>
    <script src="../static/micorr/scripts/controllers/modalSaveStrata.js"></script>
    <script src="../static/micorr/scripts/controllers/modalShowSimilarStrata.js"></script>
    <script src="../static/micorr/scripts/controllers/pickList.js"></script>
    <script src="../static/micorr/scripts/controllers/showArtefact.js"></script>
    <script src="../static/micorr/scripts/controllers/showStrat.js"></script>
    <script src="../static/micorr/scripts/controllers/stratComposition.js"></script>
    <script src="../static/micorr/scripts/controllers/stratInterface.js"></script>
    <script src="../static/micorr/scripts/controllers/stratMicrostructure.js"></script>
    <script src="../static/micorr/scripts/controllers/stratMorphology.js"></script>
    <script src="../static/micorr/scripts/controllers/stratTexture.js"></script>
    <script src="../static/micorr/scripts/controllers/tabsStrata.js"></script>
    <script src="../static/micorr/scripts/services/services.js"></script>
    <script src="../static/micorr/scripts/directives/directives.js"></script>
    <script src="../static/micorr/scripts/algorithms/PoissonDiskSampler.js"></script>
    <script src="../static/micorr/scripts/dependencies/rhill-voronoi-core.min.js"></script>
    <script src="../static/micorr/scripts/algorithms/Voronoi.js"></script>
    <script src="../static/micorr/scripts/dependencies/ngprogress.min.js"></script>

    <link rel="shortcut icon" href="{% static 'landing/img/favicon/favicon.ico' %}" type="image/x-icon" />

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img src="../static/micorr/images/logo/logo.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!-- PUT CONTENT HERE -->
        </div>
    </div>
</nav>

<div style="margin-top:70px;;"></div>

<div ng-controller="MainCtrl" class="container-fluid" ng-view></div>

<footer>
    <p>&copy; HE-Arc 2016</p>
</footer>



</body>
</html>
