{% load static %}

<!DOCTYPE html>
<html ng-app="micorrApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

    <title>MiCorr</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" href="../static/micorr/style/main.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../static/micorr/style/mystyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css"  crossorigin="anonymous"/>

    <script src={% static "micorr/dist/bundle.js" %} ></script>

    <link rel="shortcut icon" href="{% static 'landing/img/favicon/favicon.ico' %}" type="image/x-icon" />

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img src={% static "micorr/images/logo/logo.png" %}  /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <!-- PUT CONTENT HERE -->
        </div>
    </div>
</nav>

<div style="margin-top:70px;;"></div>

<div ng-controller="MainCtrl" class="container-fluid" ng-view></div>

<footer>
    <p>&copy; HE-Arc 2016</p>
</footer>



</body>
</html>
