{% extends "base_root.html" %}
{% load static %}

{% block html_tag %}
    <html ng-app="micorrApp">
{% endblock html_tag %}

{% block custom_header_script %}
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css" crossorigin="anonymous"/>
{% endblock custom_header_script %}


{% block content_container %}
    <div class="container-fluid">
{% block content %}
    <div ng-controller="MainCtrl" class="container-fluid" ng-view></div>
{% endblock content %}
    </div>
{% endblock content_container %}

{% block custom_bottom_script %}
    <script src={% static "micorr/dist/bundle.js" %}></script>
{% endblock custom_bottom_script %}
