{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

{% block title %}<title>MiCorr | {{ object.username }} User Profile</title>{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <a class="btn btn-info" href="{% url 'avatar_change' %}">Avatar</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>
</div>
<div class="row">
  <div class="col-sm-12 ">
    <h1>Stratigraphies</h1>
      {% if stratigraphies %}
          <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Date</th><th>Description</th>
            </tr>
            {% for stratigraphy in stratigraphies %}
                <tr>
                    <td>{% if stratigraphy.timestamp %}{{ stratigraphy.timestamp  }}{% else %}{{ stratigraphy.date }}{% endif %}</td>
                    <td>
                        <span class="editable" data-url="{% url 'stratigraphies:update-description' stratigraphy.uid %}" data-attribute="description" data-activator="#edit-{{ stratigraphy.uid }}">{{ stratigraphy.description }}</span>
                        [<span id="edit-{{ stratigraphy.uid }}" class="button" onmouseover="this.style.cursor='pointer'"><i class="fa fa-pencil"></i> Rename</span> | <i class="fa fa-bars"></i>
                        <a href="/micorr/#/stratigraphy/{{ stratigraphy.uid }}">Display</a> |
                        <i class="fa fa-trash"></i> <a href="{% url 'stratigraphies:delete-user' stratigraphy.uid %}">Delete</a>]
                    </td>
                </tr>
            {% endfor %}
          </table>
      {% else %}
          <p>There are no saved stratigraphies in your profile. Use the SAVE button to add stratigraphies to your profile.</p>
      {% endif %}
    <h1>Artefacts</h1>
      {% if artefacts %}
          <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            {% for artefact in artefacts %}
                <tr>
                    <td>{{ artefact.created|date:"Y/m/d"  }}</td>
                    <td>
                        <span class="editable" data-url="{% url 'artefacts:artefact-update' artefact.id %}">{{ artefact.description }}</span>
                    </td>
                    <td>[ <a href="{% url 'artefacts:artefact-update' artefact.id %}"><i class="fa fa-pencil"></i> Edit</a> |
                        <a href="/artefacts/{{ artefact.id }}"><i class="fa fa-eye"></i> Display </a> |
                        <a href="{% url 'artefacts:artefact-delete' artefact.id %}"><i class="fa fa-trash"></i> Delete</a>]
                    </td>
                </tr>
            {% endfor %}
          </table>
      {% else %}
          <p>There are no saved artefacts in your profile. <a href="/#submit">Submit a new item</a> to create one</p>
      {% endif %}
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
