# sample content for .env file
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=micorr

# DJANGO neo2py
# CAUTION: To set initial password in neo4j container uses NEO4J_AUTH=neo4j/secret in .env.neo file
NEO4J_AUTH=neo4j:secret


# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=sykos4l39*a77wn22rk!)0hiey8g()doouvu_&@#_%m2d&()*i
DJANGO_ALLOWED_HOSTS=.example.com

# Used with email
DJANGO_SERVER_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=

#CERTBOT / NGINX
MY_DOMAIN_NAME=example.com
