{% extends "documents/base.html" %}
{% load wagtailcore_tags documents_tags terms static %}

{% block custom_bottom_script %}
<script src="{% static 'js/anchorific.js' %}"></script>
<script type="text/javascript">

    $('.c9').anchorific({
        headers: 'h1, h2, h3, h4',
        navigation: '.anchorific', // position of navigation
        speed: 200, // speed of sliding back to top
        anchorClass: 'anchor', // class of anchor links
        anchorText: '', // prepended or appended to anchor headings
        top: '.top', // back to top button or link class
        spy: true, // scroll spy
        position: 'append', // position of anchor text
        spyOffset: 20 // specify heading offset for spy scrolling
    });

</script>
{% endblock custom_bottom_script %}

{% block sidemenu %}
<div class="c3" id="sidemenu">
  <div class="sidemenu-container">
    <nav class='anchorific'></nav>
  </div>
</div>
{% endblock sidemenu %}

{% block content %}
    {% filter replace_terms %}
        {% include "documents/includes/intro.html" with intro=self.intro only %}

        {# Listing created with a tag - allows filtering by whether the page is live #}
        {# See also the blog index or events index where the listing is created from a method defined in models.py #}
        {% generic_index_listing calling_page=self %}

        {% include "documents/includes/related_links.html" with related_links=self.related_links.all only %}
    {% endfilter %}
{% endblock %}
