{% extends "documents/base.html" %}
{% load wagtailcore_tags documents_tags %}
{% load terms %}

{% block custom_bottom_script %}
<script type="text/javascript">
  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  var buildMenu = function(targetId, headingTag) {
    var target = document.getElementById(targetId);
    var headings = document.getElementsByTagName(headingTag || "h2");

    if(headings.length > 1) {
      // construct an ordered list of links
      var menuList = document.createElement("OL");
      for(var i=0; i < headings.length; i++) {
        var anchorName = "";
        if(headings[i].id) {
          anchorName = headings[i].id;
        } else {
          anchorName = "section_" + i;
          headings[i].setAttribute("id", anchorName);
        }

        var headingText = headings[i].firstChild.nodeValue

        headings[i].firstChild.nodeValue = (i+1) + ". " + headingText;

        var menuLink = document.createElement("A");
        menuLink.setAttribute("href", "#" + anchorName);
        menuLink.appendChild(document.createTextNode(headingText));

        var listItem = document.createElement("LI");
        listItem.appendChild(menuLink);

        menuList.appendChild(listItem);
      }

      // remove all nodes from inside target element
      while(target.hasChildNodes()) target.removeChild(target.firstChild);

      // insert our generated menu into the target element
      target.appendChild(menuList);
    } else {
      // remove the target element from the DOM
      target.parentNode.removeChild(target);
    }
  };

  if(document.addEventListener) {
    document.addEventListener("DOMContentLoaded", function() {
      buildMenu("sidemenu", "h2");
    }, false);
  } else {
    window.attachEvent("onload", function() {
      buildMenu("sidemenu", "h2");
    });
  }

</script>
{% endblock custom_bottom_script %}

{% block sidemenu %}
<div class="c3" id="sidemenu">
  Loading menu...
</div>
{% endblock sidemenu %}

{% block content %}
    {% filter replace_terms %}
        {% include "documents/includes/intro.html" with intro=self.intro only %}

        {# Listing created with a tag - allows filtering by whether the page is live #}
        {# See also the blog index or events index where the listing is created from a method defined in models.py #}
        {% generic_index_listing calling_page=self %}

        {% include "documents/includes/related_links.html" with related_links=self.related_links.all only %}
    {% endfilter %}
{% endblock %}
