{% extends "documents/base.html" %}
{% load wagtailcore_tags documents_tags %}
{% load terms %}

{% block content %}
    <div class="text-justify">
        {% filter replace_terms %}
        {% include "documents/includes/intro.html" with intro=self.intro only %}

        {# Listing created with a tag - allows filtering by whether the page is live #}
        {# See also the blog index or events index where the listing is created from a method defined in models.py #}
        {% generic_index_listing calling_page=self %}

        {% include "documents/includes/related_links.html" with related_links=self.related_links.all only %}
        {% endfilter %}
    </div>
{% endblock %}