{% extends "documents/base.html" %}
{% load wagtailcore_tags documents_tags %}

{% block content %}
    <div id="content_column" class="c12">

    {# Listing created with a tag - allows filtering by whether the page is live #}
    {# See also the blog index or events index where the listing is created from a method defined in models.py #}
    <div id="learn" class="paleframe">
    <div class="container">
        <div class="row center">
            <div class="line">
                <h1> {{ self.title }}</h1>
                <br>
            </div>
    {% include "documents/includes/intro.html" with intro=self.intro only %}

            {% generic_index_listing calling_page=self %}
        </div>
        {% include "documents/includes/related_links.html" with related_links=self.related_links.all only %}
    </div>
{% endblock %}
