{% load static documents_tags %}
<div class="row center">
{% comment %}            <div class="c4 pre2" data-toggle="modal" data-target=".animation" onmouseover="this.style.cursor='pointer'">
                <i class="fa fa-video-camera disc fa-3x"></i>
                <h3>Tour</h3>
                <p>An animated discovery of MiCorr</p>
            </div>
           {% endcomment %}
    <video width="852" height="480" controls>
            Your browser does not support HTML5 video.
    </video>
</div>
