{% extends "base.html" %}

{% block title %}MiCorr | Search tool{% endblock %}

{% block heading %}
      <div class="page-header">
          <h2>Search tool</h2>
      </div>
{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-xs-6">
            <h2>Search</h2>
        </div>
    </div>

<br/>

    <div class="row">
        <form action="." method="get">
            <p>{{ search.q }}</p>
            <br/>
            {% for field in filter.form %}
                <p>{{ field.label_tag }}</p>
                <p>{{ field }}</p>
                <br/>
            {% endfor %}
            <div class="col-xs-1 col-xs-offset-10">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
    </div>

<br/>

  <div class="row">
    <div class="col-xs-6">
      <h2>Results</h2>
    </div>
  </div>

<br/>

  <div class="row">
      <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
              <tr>
                  <th>Metal Alloy</th>
                  <th>Object</th>
                  <th>Chronology</th>
                  <th>Technology</th>
                  <th>Microstructure</th>
              </tr>
              {% for artefact in results %}
                  <tr onmouseover="this.style.cursor='pointer'" onclick="document.location = '{% url 'artefacts:artefact-detail' artefact.pk %}'">
                      <td>{{ artefact.metal1 }}</td>
                      <td>{{ artefact.type }}</td>
                      <td>{{ artefact.chronology_period.chronology_category.name }}</td>
                      <td>{{ artefact.technology }}</td>
                      <td>{{ artefact.microstructure }}</td>
                  </tr>
              {% empty %}
                  <tr><td colspan="5">No results found</td></tr>
              {% endfor %}
          </table>
      </div>
  </div>

  {% if request.user.is_authenticated %}
      <div class="row">
          <div class="col-xs-2 col-xs-offset-10">
              <a href="{% url 'artefacts:artefact-create' %}"><button type="button" class="btn btn-primary">New Model</button></a>
          </div>
      </div>
  {% endif %}

</div>

{% endblock content %}