{% extends "./artefact_update_page.html" %}
{% load terms %}

{% block custom_header_script %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea', plugins: "table"});</script>
{% endblock custom_header_script %}

    {% block title %}
        <title>MiCorr | {{ artefact.artefact_verbose_description_short }}</title>
    {% endblock title %}

      {% block content %}
<div class="c9">
      <h1>{{ artefact.artefact_verbose_description_short }}</h1>
      <div class="row">
        <hr>
        {% if admin_user_type == 'Main' %}
            <h2>Informations about the publication requests</h2>
            By sending a request of publication for this artefact, you will allow the chosen delegated administrator of Micorr to
            visualize it and take a decision. Then, you'll have to confirm this decision. If the request is accepted,
            the current version of this artefact will be published and visitors will be able to see it.
        {% else %}
            <h2>Informations about the publication requests</h2>
            By sending a request of publication for this artefact, you will allow the main administrator of Micorr to visualize it and take a decision.
            If the request is accepted, the current version of this artefact will be published and visitors will be able to see it.
        {% endif %}
        <br><br>
        The publication menu of your profile allows you to see informations about your publications and requests.<br>
        <br><br>
      </div>
      <div class="row">
        <div class="pull-right">
            <form action="{% url 'artefacts:publication-create' pk=artefact.id %}" method="post">{% csrf_token %}
                <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;Send for publication</button>
            </form>
        </div>
        <br><br>
        <hr>
        <h2>Visualization of your artefact</h2>
        <br>
      </div>
    </div>
    <div class="c3">
    </div>
    {% with object=artefact form=None%}
        {{ block.super }}
    {% endwith %}
      {% endblock content %}
