{% extends "base.html" %}

{% block title %}MiCorr | {{ artefact.metal.description }} - delete{% endblock %}

{% block content %}

<h1>Delete {{ artefact.metal.description }}</h1>

<p>Are you sure you want to delete the artefact <b>{{ artefact }}</b>?</p>

<form action="{% url "artefacts:artefact-delete" artefact.pk %}" method="POST">
  {% csrf_token %}

  <button type="submit" class="btn btn-danger">Delete</button>
  <a href="{% url "artefacts:artefact-list" %}"><button type="button" class="btn btn-link">Cancel</button></a>
</form>

{% endblock %}