{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static documents_tags %}

{% block title %}
    <title>MiCorr | Search tools</title>
{% endblock %}

{% block content %}

  <div class="container">
      <div class="lightframe">

          <div class="row">
              <div class="c6">
                  <h1>Search</h1>
              </div>
              <div class="c6 right"> <h1><span class="glyphicon glyphicon-search faded"></span></h1></div>

          </div>

          <div class="row">
              <form action="." method="get">
                  <div class="c6">
                      <h3 class="underline">Search by keywords</h3>
                      <p>{{ search.q }}</p>
                      <br/>
                      {% crispy filter.form %}
                      <div class="line">
                          <button type="submit" class="btn btn-primary btn-lg">Search database <span class="glyphicon glyphicon-search faded"></span></button>
                      </div>
                  </div>
              </form>
              <div class="c6">
                  <h3 class="underline">Search by stratigraphy representation</h3>
                  <a href="{% url 'artefacts:searchStratigraphy' %}"><img src="{% static 'pics/stratigraphy.png' %}" class="img-responsive"></a>
              </div>
          </div>
      </div>

  <div class="row">
      <div class="line">
          <h1>Results</h1>
      </div>
  </div>

  <div class="row">
      <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
              <tr>
                  <th>Metal Family</th>
                  <th>Alloy</th>
                  <th>Object type</th>
                  <th>Object name</th>
                  <th>Origin</th>
                  <th>Chronology</th>
                  <th>Technology</th>
                  <th>Artefact location</th>
              </tr>
              {% for artefact in results %}
                  <tr onmouseover="this.style.cursor='pointer'" onclick="document.location = '{% url 'artefacts:artefact-detail' artefact.pk %}'">
                      <td>{{ artefact.metal1|default:"" }}</td>
                      <td>{{ artefact.alloy|default:"" }}</td>
                      <td>{{ artefact.type|default:"" }}</td>
                      <td>{{ artefact.object.name|default:"" }}</td>
                      <td>{{ artefact.origin|default:"" }}</td>
                      <td>{{ artefact.chronology_category.name|default:"" }}</td>
                      <td>{{ artefact.technology|default:"" }}</td>
                      <td>{{ artefact.location|default:"" }}</td>
                  </tr>
              {% empty %}
                  <tr><td colspan="5">No results found</td></tr>
              {% endfor %}
          </table>
      </div>
  </div>

<!--
  { if request.user.is_authenticated %}
      <div class="row">
          <div class="col-xs-2 col-xs-offset-10">
              <a href="{ url 'artefacts:artefact-create' %}"><button type="button" class="btn btn-primary">New Model</button></a>
          </div>
      </div>
  { endif %}
-->

</div>

{% endblock content %}
