{% extends "base.html" %}

{% block sidemenu %}
  <div class="c3" id="sidemenu"> <!-- no-active-hilight : do not highlight the "active" node of the menu. It is difficult for the affix to work when elements in the page are close one to the other (i.e. folded elements), therefore, it is less confusing to NOT hilight the .active nodes of the menu -->
      <div class="sidemenu-container">
          <ul class="nav smooth-scroll"> <!-- smooth-scroll to the element in the page instead of jumping -->
              <li>
                  <a href="#title2">Creation of the artefact</a>
              </li>
          </ul>
      </div>
  </div>
{% endblock sidemenu %}

{% block content %}
<div class="c9">

    <h1>New artefact</h1>

    <!--DESCRIPTION-->
    <form action="{% url 'artefacts:artefact-create' object.id %}" method="post">{% csrf_token %}
      <div class="row accordion-title1" id="title2">
          <a class="line"  data-toggle="collapse" data-parent="#accordionN1" href="#content2" aria-expanded="true" aria-controls="content2">Creation of the artefact</a>
      </div>
      <div class="row accordion-content3 collapse in" id="content2"  aria-labelledby="title2">
        <div class="line lightbox">
          <div class="row">
              <br>
              <div class="c12"><p>The artefact <em><i>{{ object.name }}</i></em> has been successfully created.</p></div>
              <br>
          </div>
            <input class="btn btn-default" type="submit" value="Create a new artefact card">
        </div>
      </div>
    </form>

</div>
{% endblock content %}
