{% extends "base.html" %}

{% block title %}MiCorr | {{ artefact.metal.description }}{% endblock %}

{% block content %}

 <style>
  .column1{font-style: italic; font-weight: bold;}
  .column2{text-align: justify;}
</style>

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>{{ artefact }}</h2>
    </div>
  </div>

<br/>

{% for section in sections %}
    {% if forloop.first %}
        {% for image in section.image_set.all %}
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <img src="{{ image.image.url }}" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <i>{{ image }}</i>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Description of artefact</div>
    <div class="col-xs-8 column2">{{ artefact.description }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Type of artefact</div>
    <div class="col-xs-8 column2">{{ artefact.type }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Origin and date of recovering</div>
    <div class="col-xs-8 column2">{{ artefact.origin }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Dating of artefact</div>
    <div class="col-xs-8 column2">{{ artefact.chronology_period }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Chronology</div>
    <div class="col-xs-8 column2">{{ artefact.chronology_period.chronology_category }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Burial conditions / environment</div>
    <div class="col-xs-8 column2">{{ artefact.get_environments|join:" / " }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Inv. Number</div>
    <div class="col-xs-8 column2">{{ artefact.inventory_number }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Alloy</div>
    <div class="col-xs-8 column2">{{ artefact.metal.description }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Technology</div>
    <div class="col-xs-8 column2">{{ artefact.technology }}</div>
  </div>

<br/>

{% for section in sections %}
    {% if forloop.counter0 > 0 %}
        {% for image in section.image_set.all %}
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <img src="{{ image.image.url }}" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <i>{{ image }}</i>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}

{% if request.user.is_authenticated %}
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
          <a href="{% url 'artefacts:artefact-update' artefact.pk %}"><button type="button" class="btn btn-primary">Edit</button></a>
          <a href="{% url 'artefacts:artefact-delete' artefact.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
      </div>
    </div>
{% endif %}

</div>
{% endblock content %}