{% extends "base.html" %}

{% block title %}MiCorr | Model {{ artefact.pk }}{% endblock %}

{% block content %}

 <style>
  .column1{font-style: italic; font-weight: bold;}
  .column2{text-align: justify;}
</style>

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>{{ artefact }}</h2>
    </div>
  </div>

<br/>

{% for section in sections %}
    {% if forloop.first %}
        {% for image in section.image_set.all %}
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <img src="{{ image.image.url }}" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <i>{{ image }}</i>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Description of artefact</div>
    <div class="col-xs-8 column2">{{ artefact.description|safe }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Type of artefact</div>
    <div class="col-xs-8 column2">{{ artefact.type }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Origin and date of recovering</div>
    <div class="col-xs-8 column2">{{ artefact.origin }}. {{ artefact.recovering_date }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Dating of artefact</div>
    <div class="col-xs-8 column2">{{ artefact.chronology_period }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Chronology</div>
    <div class="col-xs-8 column2">{{ artefact.chronology_period.chronology_category }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Burial conditions / environment</div>
    <div class="col-xs-8 column2">{{ artefact.get_environments }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Artefact location</div>
    <div class="col-xs-8 column2">{{ artefact.location }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Owner</div>
    <div class="col-xs-8 column2">{{ artefact.owner }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Inv. Number</div>
    <div class="col-xs-8 column2">{{ artefact.inventory_number }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Recorded conservation data</div>
    <div class="col-xs-8 column2">{{ artefact.recorded_conservation_data }}</div>
  </div>

<br/>

 {% for section in sections %}
    {% if forloop.counter0 == 1 %}
        {% for image in section.image_set.all %}
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <img src="{{ image.image.url }}" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <i>{{ image }}</i>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Description of sample</div>
    <div class="col-xs-8 column2">{{ artefact.sample_description|safe }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Alloy</div>
    <div class="col-xs-8 column2">{{ artefact.alloy }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Technology</div>
    <div class="col-xs-8 column2">{{ artefact.technology }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Lab number of sample</div>
    <div class="col-xs-8 column2">{{ artefact.sample_number }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Sample location</div>
    <div class="col-xs-8 column2">{{ artefact.sample_location }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Responsible institution</div>
    <div class="col-xs-8 column2">{{ artefact.responsible_institution }}</div>
  </div>

<br/>

  <div class="row">
    <div class="col-xs-4 column1">Date and aim of sampling</div>
    <div class="col-xs-8 column2">{{ artefact.date_aim_sampling }}</div>
  </div>

<br/>

{% for section in sections %}
    {% if section.section_category.order > 2 %}
        <b>{{ section.title }}</b>
        {{ section.content|safe }}
        {% for image in section.image_set.all %}
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <img src="{{ image.image.url }}" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <i>{{ image }}</i>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <br/>
{% endfor %}

{% if documents %}
    <div class="row">
        <div class="col-xs-4 column1">Documents</div>
    </div>
    <br/>
    <div class="row">
        <ul>
            {% for document in documents %}
                {% if document.extension %}
                    <li>{{ document.name }} <a href="{{ document.document.url }}"><i class="fa fa-file-{{ document.extension }}-o fa-lg"></i></a> - <a href="{% url 'artefacts:document-update' artefact_id=document.artefact.pk pk=document.pk %}"><i>edit</i></a> - <a href="{% url 'artefacts:document-delete' artefact_id=document.artefact.pk pk=document.pk %}"><i>delete</i></a></li>
                {% else %}
                    <li>{{ document.name }} <a href="{{ document.document.url }}"><i class="fa fa-file-o fa-lg"></i></a> - <a href="{% url 'artefacts:document-update' artefact_id=document.artefact.pk pk=document.pk %}"><i>edit</i></a> - <a href="{% url 'artefacts:document-delete' artefact_id=document.artefact.pk pk=document.pk %}"><i>delete</i></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

<br/>

{% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-xs-1">
            <a href="{% url 'artefacts:document-create' artefact_id=artefact.pk %}"><button type="button" class="btn btn-primary">Add a document</button></a>
        </div>
    </div>
{% endif %}

{% if request.user.is_authenticated %}
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
          <a href="{% url 'artefacts:artefact-update' artefact.pk %}"><button type="button" class="btn btn-primary">Edit</button></a>
          <a href="{% url 'artefacts:artefact-delete' artefact.pk %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></a>
      </div>
    </div>
{% endif %}

</div>
{% endblock content %}