{% load terms %}
{% filter replace_terms %}

<div class="row">
  <div class="c2"><em>Authors</em></div>
  <div class="c10"><p>{{ artefact.get_authors }}</p></div>
</div>

<div class="row">
    <div class="col-sm-12">
      <a class="btn btn-success" href="contact_author">
          <i class="fa fa-envelope"></i> Contact the author</a>
      <a class="btn btn-success" href="{% url 'artefacts:share_artefact_with_friend' artefact.id %}">
          <i class="fa fa-share-alt"></i> Share </a>
    </div>
</div>



<br>

<div  id="accordionN1" aria-multiselectable="true">

<!--THE OBJECT-->
  <div class="row accordion-title1" id="title1">
      <a class="line" data-toggle="collapse" data-parent="#accordionN1" href="#content1" aria-expanded="true" aria-controls="content1">{{ sections.0.template.title }}</a>
  </div>
  <div class="row accordion-content1 collapse in" id="content1" aria-labelledby="title1">
    <div class="line palebox">
      <div class="row">
          {% if sections.0.image_set.all %}
                {% for image in sections.0.image_set.all %}
                  <div class="row">
                  {% if image.image %}
                    <div class="c6">
                      <a href="{{ image.image.url }}" class="image-popup"><img src="{{ image.image.url }}" class="img-responsive"></a>
                    </div>
                    <div class="c6">
                      <p><a name="fig1"></a>{{ image.legend }}</p>
                    </div>
                  {% endif %}
                  </div>
                {% endfor %}
          {% endif %}
    </div>
  </div>
  </div>

<!--DESCRIPTION-->
  <div class="row accordion-title1" id="title2">
      <a class="line"  data-toggle="collapse" data-parent="#accordionN1" href="#content2" aria-expanded="true" aria-controls="content2">{{ sections.1.template.title }}</a>
  </div>
    <div class="row accordion-content3 collapse in" id="content2" aria-labelledby="title2">
        <div class="line lightbox">
            <div class="row">
                <div class="c3"><em>Description of artefact</em></div>
                <div class="c9"><p>{{ artefact.description|safe }}</p></div>
            </div>
            <div class="row">
                <div class="c3"><em>Type of artefact</em></div>
                <div class="c9"><p>{{ artefact.type }}</p></div>
            </div>
            <div class="row">
                <div class="c3"><em>Origin and date of recovering</em></div>
                <div class="c9"><p>{{ artefact.origin }}. {{ artefact.recovering_date }}</p></div>
            </div>
            <div class="row">
                <div class="c3"><em>Dating of artefact (Tpq _ Taq)</em></div>
                <div class="c9">
                    <p>{{ artefact.chronology_comment }}
                        {% if artefact.chronology_tpq or artefact.chronology_taq %}
                            ({{ artefact.chronology_tpq }} _ {{ artefact.chronology_taq }})
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="c3"><em>Chronology</em></div>
                <div class="c9"><p>{{ artefact.chronology_category }}</p></div>
            </div>
            <div class="row">
                <div class="c3"><em>Burial conditions / environment</em></div>
                <div class="c9"><p>{{ artefact.environment }}</p></div>
            </div>
            <div class="row">
                <div class="c3"><em>Artefact location</em></div>
                <div class="c9"><p>{{ artefact.location }}</p></div>
            </div>
            <div class="row">
                <div class="c3"><em>Owner</em></div>
                <div class="c9"><p>{{ artefact.owner }}</p></div>
            </div>
            <div class="row">
                <div class="c3"><em>Inv. Number</em></div>
                <div class="c9"><p>{{ artefact.inventory_number }}</p></div>
            </div>
            <div class="row">
                <div class="c3"><em>Recorded conservation data</em></div>
                <div class="c9"><p>{{ artefact.recorded_conservation_data }}</p></div>
            </div>
        </div>
        {% if sections.1.complementary_information != '' %}
            <div class="line palebox">
                <h4 class="underline">Complementary information</h4>
                <p>{{ sections.1.complementary_information|safe }}</p>
            </div>
        {% endif %}
        <div class="line">
            <div id="accordionN2" aria-multiselectable="true">

                <!--ZONES-->
                <div class="row accordion-title2" id="title21">
                    <a class="line" data-toggle="collapse" data-parent="#accordionN2" href="#content21"
                       aria-expanded="true" aria-controls="content21">{{ sections.2.template.title }}</a>
                </div>
                <div class="row accordion-content2 collapse in" id="content21" aria-labelledby="title21">
                    {% if sections.2.image_set.all %}
                        <div class="line lightbox">
                            {% for image in sections.2.image_set.all %}
                                <div class="row">
                                    {% if image.image %}
                                        <div class="c6">
                                            <a href="{{ image.image.url }}" class="image-popup"><img
                                                    src="{{ image.image.url }}" class="img-responsive"></a>
                                        </div>
                                        <div class="c6">
                                            <p><a name="fig1"></a>{{ image.legend }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!--MACROSCOPIC-->
                <div class="row accordion-title2" id="title22">
                    <a class="line" data-toggle="collapse" data-parent="#accordionN2" href="#content22"
                       aria-expanded="true" aria-controls="content22">{{ sections.3.template.title }}</a>
                </div>
                <div class="row accordion-content2 collapse in" id="content22" aria-labelledby="title22">
                    <div class="line palebox">
                        <p>{{ sections.3.content|safe }}</p>
                    </div>
                    <div class="line lightbox">
                        {% if sections.3.image_set.all %}
                            {% for image in sections.3.image_set.all %}
                                <div class="row">
                                    {% if image.image %}
                                        <div class="c6">
                                            <a href="{{ image.image.url }}" class="image-popup"><img
                                                    src="{{ image.image.url }}" class="img-responsive"></a>
                                        </div>
                                        <div class="c6">
                                            <p><a name="fig1"></a>{{ image.legend }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row accordion-title2" id="title23">
                    <a class="line" data-toggle="collapse" data-parent="#accordionN2" href="#content23"
                       aria-expanded="true" aria-controls="content23">Stratigraphies</a>
                </div>
                <div class="row accordion-content2 collapse in" id="content23"
                     aria-labelledby="title23">
                    <div class="line lightbox">
                        {% with section=sections.3 %}
                            {% include "artefacts/stratigraphy.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--SAMPLE-->
  <div class="row accordion-title1" id="title3">
      <a class="line"  data-toggle="collapse" data-parent="#accordionN1" href="#content3" aria-expanded="true" aria-controls="content3">{{ sections.4.template.title }}</a>
  </div>
  <div class="row accordion-content3 collapse in" id="content3"  aria-labelledby="title3">
    <div class="line lightbox">
        {% if sections.4.image_set.all %}
            {% for image in sections.4.image_set.all %}
              <div class="row">
              {% if image.image %}
                <div class="c6">
                  <a href="{{ image.image.url }}" class="image-popup"><img src="{{ image.image.url }}" class="img-responsive"></a>
                </div>
                <div class="c6">
                  <p><a name="fig1"></a>{{ image.legend }}</p>
                </div>
              {% endif %}
              </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="line palebox">
      <div class="row">
        <div class="c3"><em>Description of sample</em></div>
        <div class="c9"><p>{{ artefact.sample_description|safe }}</p></div>
      </div>
      <div class="row">
        <div class="c3"><em>Alloy</em></div>
        <div class="c9"><p>{{ artefact.alloy }}</p></div>
      </div>
      <div class="row">
        <div class="c3"><em>Technology</em></div>
        <div class="c9"><p>{{ artefact.technology }}</p></div>
      </div>
      <div class="row">
        <div class="c3"><em>Lab number of sample</em></div>
        <div class="c9"><p>{{ artefact.sample_number }}</p></div>
      </div>
      <div class="row">
        <div class="c3"><em>Sample location</em></div>
        <div class="c9"><p>{{ artefact.sample_location }}</p></div>
      </div>
      <div class="row">
        <div class="c3"><em>Responsible institution</em></div>
        <div class="c9"><p>{{ artefact.responsible_institution }}</p></div>
      </div>
      <div class="row">
        <div class="c3"><em>Date and aim of sampling</em></div>
        <div class="c9"><p>{{ artefact.date_aim_sampling }}</p></div>
      </div>
      <div class="row accordion-title2" id="title31">
          <a class="line" data-toggle="collapse" data-parent="#accordionN2" href="#content31"
             aria-expanded="true" aria-controls="content31">Stratigraph{{sections.4.stratigraphy_set.count|pluralize:"y,ies" }}</a>
      </div>
      <div class="row accordion-content2 collapse in" id="content31" aria-labelledby="title31">
          <div class="line lightbox">
              {% with section=sections.4 %}
              {% include "artefacts/stratigraphy.html" %}
              {%  endwith %}
          </div>
      </div>
  </div>
    {% if sections.4.complementary_information != '' %}
      <div class="line palebox">
        <h4 class="underline">Complementary information</h4>
            <p>{{ sections.4.complementary_information|safe }}</p>
      </div>
    {% endif %}
  </div>


<!--ANALYSES AND RESULTS-->
  <div class="row accordion-title1" id="title4">
      <a class="line"  data-toggle="collapse" data-parent="#accordionN1" href="#content4" aria-expanded="true" aria-controls="content4">{{ sections.5.template.title }}</a>
  </div>
  <div class="row accordion-content3 collapse in" id="content4"  aria-labelledby="title4">
    <div class="line palebox">
            <p>{{ sections.5.content|safe }}</p>
    </div>
    <div class="line">
        <div id="accordionN2" aria-multiselectable="true">

        <!--METAL-->
          <div class="row accordion-title2" id="title41">
              <a class="line" data-toggle="collapse" data-parent="#accordionN2" href="#content41" aria-expanded="true" aria-controls="content41">{{ sections.6.template.title }}</a>
          </div>
          <div class="row accordion-content2 collapse in" id="content41" aria-labelledby="title41">
            <div class="line palebox">
                    <p>{{ sections.6.content|safe }}</p>
            </div>
            <div class="line lightbox">
                {% if sections.6.image_set.all %}
                    {% for image in sections.6.image_set.all %}
                      <div class="row">
                      {% if image.image %}
                        <div class="c6">
                          <a href="{{ image.image.url }}" class="image-popup"><img src="{{ image.image.url }}" class="img-responsive"></a>
                        </div>
                        <div class="c6">
                          <p><a name="fig1"></a>{{ image.legend }}</p>
                        </div>
                      {% endif %}
                      </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if sections.6.complementary_information != '' %}
                <div class="line palebox">
                    <h4 class="underline">Complementary information</h4>
                        <p>{{ sections.6.complementary_information|safe }}</p>
                </div>
            {% endif %}
          </div>

        <!--CORROSION LAYERS-->
          <div class="row accordion-title2" id="title42">
              <a class="line"  data-toggle="collapse" data-parent="#accordionN2" href="#content42" aria-expanded="true" aria-controls="content42">{{ sections.7.template.title }}</a>
          </div>
          <div class="row accordion-content2 collapse in" id="content42"  aria-labelledby="title42">
            <div class="line palebox">
                    <p>{{ sections.7.content|safe }}</p>
            </div>
            <div class="line lightbox">
                {% if sections.7.image_set.all %}
                    {% for image in sections.7.image_set.all %}
                      <div class="row">
                      {% if image.image %}
                        <div class="c6">
                          <a href="{{ image.image.url }}" class="image-popup"><img src="{{ image.image.url }}" class="img-responsive"></a>
                        </div>
                        <div class="c6">
                          <p><a name="fig1"></a>{{ image.legend }}</p>
                        </div>
                      {% endif %}
                      </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if sections.7.complementary_information != '' %}
                <div class="line palebox">
                    <h4 class="underline">Complementary information</h4>
                        <p>{{ sections.7.complementary_information|safe }}</p>
                </div>
            {% endif %}
          </div>
        </div> <!--accordionN2 -->
    </div>
  </div>

<!--SYNTHESIS-->
  <div class="row accordion-title1" id="title5">
      <a class="line" data-toggle="collapse" data-parent="#accordionN3" href="#content5" aria-expanded="true" aria-controls="content5">{{ sections.8.template.title }}</a>
  </div>
  <div class="row accordion-content3 collapse in" id="content5"  aria-labelledby="title5">
    <div class="line palebox">
            <p>{{ sections.8.content|safe }}</p>
    </div>
    {% if sections.8.image_set.all %}
    <div class="line lightbox">
        {% for image in sections.8.image_set.all %}
          <div class="row">
          {% if image.image %}
            <div class="c6">
              <a href="{{ image.image.url }}" class="image-popup"><img src="{{ image.image.url }}" class="img-responsive"></a>
            </div>
            <div class="c6">
              <p><a name="fig1"></a>{{ image.legend }}</p>
            </div>
          {% endif %}
          </div>
        {% endfor %}
    </div>
    {% endif %}
  </div>

<!--CONCLUSION-->
  <div class="row accordion-title1" id="title6">
      <a class="line" data-toggle="collapse" data-parent="#accordionN3" href="#content6" aria-expanded="true" aria-controls="content6">{{ sections.9.template.title }}</a>
  </div>
  <div class="row accordion-content3 collapse in" id="content6"  aria-labelledby="title6">
    <div class="line palebox">
            <p>{{ sections.9.content|safe }}</p>
    </div>
  </div>

<!--REFERENCES-->
  <div class="row accordion-title1" id="title7">
      <a class="line" data-toggle="collapse" data-parent="#accordionN3" href="#content7" aria-expanded="true" aria-controls="content7">{{ sections.10.template.title }}</a>
  </div>
  <div class="row accordion-content3 collapse in" id="content7"  aria-labelledby="title7">
    <div class="line palebox">
        <p>{{ sections.10.content|safe }}</p>
    </div>
  </div>

  <!-- content for accordion 3 -->

 </div>

{% endfilter %}
