{% extends "base.html" %}

{% block title %}MiCorr | Model {{ artefact.pk }} - update{% endblock %}

{{ form.media }}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h2>{{ artefact }}</h2>
        </div>
    </div>

    <br/>

    <div class="row">
        <form action="{% url 'artefacts:artefact-update' artefact.pk %}" method="post">
            {% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label_tag }}</p>
                    <p>{{ field }} {% if forloop.counter0 > 3 %}<a href=""><span class="glyphicon glyphicon-plus"></span></a></p>{% endif %}
                    <p><i>{{ field.help_text }}</i></p>
                    <br/>
                {% endfor %}
            <div class="col-xs-1 col-xs-offset-10">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}