{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row">
        <h2>Delete comment </h2>
        <br/>
        <p>Are you sure you want to delete this comment ?</p>
        <br>
        <b>Comment :</b>
        <br>
        <i>{{ comment.comment|safe }}</i>
    </div>
    <br><br>

    <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
            <form action="{% url 'artefacts:delete-comment' token_id=token.id pk=comment.id %}" method="POST">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'artefacts:collaboration-comment' pk=token.id field='none' %}"><button type="button" class="btn btn-link">Cancel</button></a>
            </form>
        </div>
    </div>

</div>

{% endblock %}
