{% for value in values %}
    <!--<form action="{ url 'artefacts:delete-comment' pk=value.id token_id=token.id %}">-->
      {% if not value.parent %}
          <div class="row">
              <div class="c11">
                <!--{ if value.user == user %}
                    <div class="user_name_comment">You</div>
                { else %}
                    <div class="user_name_comment">{ value.user.username }}</div>
                { endif %}-->
                <div class="user_name_comment">{{ value.user.username }}</div>

                <div class="comments">{{ value.comment|safe }}</div>
              <hr class="comment">
              </div>
              <div class="c1">
                  {% if not value.sent and value.user == user %}
                    <a href="{% url 'artefacts:delete-comment' token_id=token.id pk=value.id %}"><i class="fa fa-trash"></i></a>
                      <!--<a href="{ url 'artefacts:delete-comment' token_id=token.id pk=value.id %}" class="fa fa-trash"></a>-->
                      <input type="submit" class="btn btn-primary" value="1">
                  {% endif %}
              </div>
          </div>
      {% else %}
          <div class="row">
              <div class="c1">
              </div>
              <div class="c10">
                <div class="user_name_comment">{{ value.user.username }}</div>
                <div class="comments">{{ value.comment|safe }}</div>
                <hr class="comment">
              </div>
              <div class="c1">
                  {% if not value.sent and value.user == user %}
                    <a href="{% url 'artefacts:delete-comment' token_id=token.id pk=value.id %}"><i class="fa fa-trash"></i></a>
                      <!--<a href="{ url 'artefacts:delete-comment' token_id=token.id pk=value.id %}" class="fa fa-trash"></a>-->
                  {% endif %}
              </div>
          </div>
      {% endif %}
    <!--</form>-->
{% endfor %}
