{% for value in values %}
  {% if not value.parent %}
      <div class="row">
          <div class="c11">
            {% if value.user == user %}
                <div class="user_name_comment">You</div>
            {% else %}
                <div class="user_name_comment">{{ value.user.username }}</div>
            {% endif %}
            <div class="comments">{{ value.comment|safe }}</div>
          <hr class="comment">
          </div>
          <div class="c1">
              {% if not value.sent and value.user == user %}
                <a href="{% url 'artefacts:delete-comment' token_id=token.id comment_id=value.id %}"><i class="fa fa-trash"></i></a>
              {% endif %}
          </div>
      </div>
  {% else %}
      <div class="row">
          <div class="c1">
          </div>
          <div class="c10">
            {% if value.user == user %}
                <div class="user_name_comment">You</div>
            {% else %}
                <div class="user_name_comment">{{ value.user.username }}</div>
            {% endif %}
            <div class="comments">{{ value.comment|safe }}</div>
            <hr class="comment">
          </div>
          <div class="c1">
              {% if not value.sent and value.user == user %}
                <a href="{% url 'artefacts:delete-comment' token_id=token.id comment_id=value.id %}"><i class="fa fa-trash"></i></a>
              {% endif %}
          </div>
      </div>
  {% endif %}
{% endfor %}
