{% for value in values %}
<div class="row">
    <div class="c11">
        <span class="user_name_comment">{{ value.user.username }}</span>
        <span class="comment_timestamp"> {{ value.created }}
            {% if value.user == user and value.read %}
                <i class="fa fa-check"></i>
            {% endif %}
        </span>
        {% if value.user != user and not value.read %}
        <div class="commentsNotRead"><i>{{ value.comment|safe }}</i></div>
    {% else %}
        <div class="comments">{{ value.comment|safe }}</div>
    {% endif %}
    <hr class="comment">
    </div>
    <div class="c1">
        {% if not value.sent and value.user == user %}
            <a href="{% url 'artefacts:delete-comment' pk=value.id %}"><i class="fa fa-trash"></i></a>
        {% endif %}
        {% if value.user != user and not value.read %}
            <div class="commentsNotReadInfo">
                Unread
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}
