{% extends "base.html" %}
{% load terms %}

{% block title %}
    <title>MiCorr | Contact the author</title>
{% endblock title %}


{% block content %}
    <h1>Contact the author</h1>
    <div class="line lightbox">
        <div class="c9">
            <div class="row">
                <form action="{% url 'artefacts:contact_author' artefact_id %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <br><br>
                    <input type="submit" value="Send" />
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

