{% extends "base.html" %}

{% block menu %}
    <h1>Add image</h1>
{% endblock %}

{% block content %}
    <div class="line lightbox">
        <div class="c9">
            <div class="row">
                <form action="{% url 'artefacts:image-create' section_id=section_id %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                        {% for field in form %}
                            <p>{{ field.label_tag }}</p>
                            <p>{{ field }}</p>
                            <p><i>{{ field.help_text }}</i></p>
                            <br/>
                        {% endfor %}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
