{% extends "base.html" %}

{% block title %}MiCorr | Artefacts{% endblock %}

{% block content %}

<div class="container">
    
  <div class="row">
    <div class="col-xs-12">
      <h2>Objects</h2>
      <p class="lead">Here is the list of artefacts in the database</p>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Metal type</th>
            <th>Object name</th>
            <th>Origin</th>
            <th>Chronology</th>
            <th>Environment</th>
            <th>Owner</th>
            <th>Technology</th>
            <th>Microstructure</th>
            <th>Corrosion form</th>
            <th>Corrosion type</th>
            <th>Date published</th>
            <th>Image</th>
        </tr>
        {% for artefact in artefacts_list %}
            <tr>
                <td>{{ artefact.metal }}</td>
                <td>{{ artefact.type }}</td>
                <td>{{ artefact.origin }}</td>
                <td>{{ artefact.chronology }}</td>
                <td>{{ artefact.environment }}</td>
                <td>{{ artefact.owner }}</td>
                <td>{{ artefact.technology }}</td>
                <td>{{ artefact.microstructure }}</td>
                <td>{{ artefact.corrosion_form }}</td>
                <td>{{ artefact.corrosion_type }}</td>
                <td>{{ artefact.pub_date }}</td>
                <td><a href="{% url 'artefacts:detail' artefact.id %}"><span class="glyphicon glyphicon-picture"></span></a></td>
            </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</div>

{% endblock content %}