{% extends "base.html" %}

{% block sidemenu %}
  <div class="c3" id="sidemenu"> <!-- no-active-hilight : do not highlight the "active" node of the menu. It is difficult for the affix to work when elements in the page are close one to the other (i.e. folded elements), therefore, it is less confusing to NOT hilight the .active nodes of the menu -->
      <div class="sidemenu-container">
          <ul class="nav smooth-scroll"> <!-- smooth-scroll to the element in the page instead of jumping -->
              <li>
                  <a href="#title2">Creation of the artefact</a>
              </li>
          </ul>
      </div>
  </div>
{% endblock sidemenu %}

{% block content %}

    <h1>New item</h1>
Search tool
    <!--DESCRIPTION-->
    <form action="{% url 'artefacts:object-create' %}" method="post">{% csrf_token %}
      <div class="row accordion-title1" id="title2">
          <a class="line"  data-toggle="collapse" data-parent="#accordionN1" href="#content2" aria-expanded="true" aria-controls="content2">Creation of the artefact</a>
      </div>
      <div class="row accordion-content3 collapse in" id="content2"  aria-labelledby="title2">
        <div class="line lightbox">
          <div class="row">
            <div class="c3"><em>Name of the artefact</em></div>
            <div class="c9"><p>{{ form.name }}</p> <p><i>{{ form.name.help_text }}</i></p></div>
          </div>
            <input class="btn btn-default" type="submit" value="Next">
        </div>
      </div>
    </form>

{% endblock content %}
