{% extends "base.html" %}

{% block custom_header_script %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea', plugins: "table"});</script>
{% endblock custom_header_script %}

{% block title %}<title>MiCorr | {{ user.username }} Publication</title>{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h2>Reject of delegated administrator decision</h2>
            </div>
        </div>

        {% if user == request.user %}
            <form action="{% url 'artefacts:publication-administration-reject' pk=form.instance.pk %}" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Date of request :</h3>
                    </div>
                    <div class="col-sm-8">
                        <h3>{{ publication.created }}</h3>
                    </div>
                    <div class="col-sm-4">
                        <h3>Object submitted :</h3>
                    </div>
                    <div class="col-sm-8">
                        <h3>{{ publication.artefact.object.name }}</h3>
                    </div>
                    <div class="col-sm-4">
                        <h3>Author :</h3>
                    </div>
                    <div class="col-sm-8">
                        <h3>{{ publication.artefact.object.user.username }}
                            {% if publication.artefact.object.user.first_name != '' and publication.artefact.object.user.last_name != ''%}
                                ({{ publication.artefact.object.user.first_name }} {{ publication.artefact.object.user.last_name }})
                            {% endif %}
                        </h3>
                    </div>
                    <div class="col-sm-4">
                        <h3>Delegated administrator decision :</h3>
                    </div>
                    <div class="col-sm-8">
                        {% if publication.decision_delegated_user %}
                            <h3>Accepted</h3>
                        {% else %}
                            <h3>Refused</h3>
                        {% endif %}
                    </div>
                    <div class="col-sm-12">
                        <h3>Comment to delegated administrator (obligatory)</h3>
                        {{ form.comment_delegation }}
                    </div>
                </div>
                <div class="row">
                    <br>
                    <div class="col-sm-3 col-sm-offset-9">
                        <div class="pull-right">
                            {% if publication.artefact.object.user != user %}
                            <a href="{% url 'artefacts:publication-administration-menu' %}" class="btn btn-danger btn-md">Cancel</a>
                            {% endif %}
                            <button class="btn btn-danger btn-md" type="submit" onclick="return confirm('Are you sure you want to send back the request to the delegated administrator?')">
                                Send back
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock content %}
