{% extends "./artefact_update_page.html" %}

{% block title %}
    MiCorr | {{ artefact.artefact_verbose_description_short }}
{% endblock title %}

{% block content %}
    <div class="c9">

        <a href="{% url 'artefacts:publication-menu' %}" class="btn btn-primary btn-md">Return to Publication
            menu</a><br><br>
        <h1>{{ artefact.artefact_verbose_description_short }}</h1>
        {% if publication.decision_taken %}
            <div class="row">
                <hr>
                <div class="c12">
                    <h2>Informations about the decision</h2>
                </div>
                <div class="c2">
                    <b>Decision :</b>
                </div>
                <div class="c10">
                    {% if publication.artefact.validated %}
                        <b style="color: green">Validated</b>
                    {% else %}
                        <b style="color: red">Refused</b>
                    {% endif %}
                </div>
                <div class="c2">
                    <b>Analyzed by :</b>
                </div>
                <div class="c10">
                    {% if publication.delegated_user %}
                        {{ publication.delegated_user.username }}
                        {% if publication.delegated_user.first_name != '' and publication.delegated_user.last_name != '' %}
                            ({{ publication.delegated_user.first_name }}
                            {{ publication.delegated_user.last_name }})
                        {% endif %}
                    {% else %}
                        {{ publication.user.username }}
                        {% if publication.user.first_name != '' and publication.user.last_name != '' %}
                            ({{ publication.user.first_name }} {{ publication.user.last_name }})
                        {% endif %}
                    {% endif %}
                </div>
                {% if publication.comment_to_user and publication.comment_to_user != '' %}
                    <div class="c12">
                        <b>Comment :</b>
                        <br>
                        {{ publication.comment_to_user|safe }}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <hr>
            </div>
        {% endif %}
        <div class="row">
            <div class="c12">
                <h2>Visualization of the artefact</h2>
            </div>
        </div>
    </div>
    <div class="c3">
    </div>
    {% with object=artefact %}
        {{ block.super }}
    {% endwith %}
{% endblock content %}
