{% extends "base.html" %}

{% block menu %}
    <h1>Add stratigraphy</h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="c12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    {% for observation in observations %}
                        <th>{{ observation.name }}</th>
                    {% endfor %}
                    <th>Date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for stratigraphy in stratigraphies %}
                    <tr>
                        {% for obs in observations %}
                            <td>
                                <a href="{% url 'artefacts:add-stratigraphy' section_id stratigraphy.uid%}?observationMode={{ obs.observationMode }}&colourFamily={{ obs.colourFamily }}">
                                    <img src="{{ node_base_url }}getStratigraphySvg?name={{ stratigraphy.uid }}&width=100&observationMode={{ obs.observationMode }}&colourFamily={{ obs.colourFamily }}"
                                         class="img-responsive">
                                </a>
                            </td>
                        {% endfor %}
                        <td>{{ stratigraphy.date }}</td>
                        <td>{{ stratigraphy.description }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">You haven't created any stratigraphy</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}

{% block footer %}
{% endblock footer %}
