{% for stratigraphy in section.stratigraphy_set.all %}
    <div class="row">
        <div class="c6">
            <a href="/micorr/#/stratigraphy/{{ stratigraphy.uid }}?observationMode={{ stratigraphy.observationMode }}&colourFamily={{ stratigraphy.colourFamily }}"
               target="_blank">
            {% if stratigraphy.url %}
                    <img src="{{ node_base_url }}{{ stratigraphy.url }}&width=200" class="img-responsive">
                {% else %}
                    <img src="{{ node_base_url }}getStratigraphySvg?name={{ stratigraphy.uid }}&width=200"
                         class="img-responsive">
                {% endif %}
            </a>
        </div>
        <div class="c6">
            {{ stratigraphy.legend | safe }}
            {%  if view == 'ArtefactsUpdateView' %}
            <a onclick="window.open('{% url 'artefacts:stratigraphy-update' section_id=section.id pk=stratigraphy.id %}', 'newwindow', 'height=450px, width=700px, scrollbars=1');"><i
                    class="fa fa-pencil"></i></a>
            <a onclick="window.open('{% url 'artefacts:stratigraphy-delete' stratigraphy.id %}', 'newwindow', 'height=450px, width=700px, scrollbars=1');"><i
                    class="fa fa-trash"></i></a>
            {% endif %}
        </div>
    </div>
{% endfor %}
