{% extends "base.html" %}

{% block title %}MiCorr | {{ user.username }} Collaboration{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h2>{{ user.username|capfirst }}</h2>
                <h3>Collaborations
                    <div class="pull-right" style="margin-top: 0px;">
                        <a href="{% url 'users:detail' username=user %}" class="btn btn-primary btn-md">Return to My Profile</a>
                    </div>
                </h3>
                <br>
            </div>
        </div>

        {% if user == request.user %}

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <a data-toggle="collapse" href="#artefacts_shared">Artefacts shared with contributors</a>
                                    {% if new_comments_shared != 0 %}
                                        <div class="pull-right">
                                            <div id="moncercle" title="New comments">
                                                <center>{{ new_comments_shared }}</center>
                                            </div>
                                        </div>
                                    {% endif %}
                                </h4>
                            </div>
                            <div id="artefacts_shared" class="panel-collapse collapse">
                                {% if tokens_shared %}
                                    <table class="table table-bordered table-striped table-hover">
                                        <tr>
                                            <th>Last modification</th>
                                            <th>Object</th>
                                            <th>Shared with</th>
                                            <th>Actions</th>
                                        </tr>
                                        {% for token_shared in tokens_shared %}
                                            <tr>
                                                <td>{{ token_shared.modified }}</td>

                                                <td>
                                                    {% for key, value in new_comments_by_token_shared.items %}
                                                        {% if key == token_shared.id %}
                                                         {% if value != 0 %}
                                                             <div class="newCommentsRed">
                                                                ({{ value }})
                                                                {{ token_shared.artefact.object.name }}
                                                             </div>
                                                         {% else %}
                                                            {{ token_shared.artefact.object.name }}
                                                         {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ token_shared.recipient }}</td>
                                                <td>
                                                    <a href="{% url 'artefacts:collaboration-update'  token_id=token_shared.id %}" title="Modify artefact"><i class="fa fa-pencil"></i></a> |
                                                    <a href="{% url 'artefacts:collaboration-comment' token_id=token_shared.id %}" title="Comment artefact"><i class="fa fa-comment"></i></a> |
                                                    <a href="{% url 'artefacts:collaboration-hide' pk=token_shared.id %}" title="Delete collaboration"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    There is no shared artefact for collaboration
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <a data-toggle="collapse" href="#artefacts_received">Artefacts shared with me</a>
                                    {% if new_comments_received != 0 %}
                                        <div class="pull-right">
                                            <div id="moncercle" title="New comments">
                                                <center>{{ new_comments_received }}</center>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if new_tokens_received != 0 %}
                                        <div class="pull-right">
                                            <div id="moncerclegreen" title="New collaborations">
                                                <center>{{ new_tokens_received }}</center>
                                            </div>
                                        </div>
                                    {% endif %}
                                </h4>
                            </div>
                            <div id="artefacts_received" class="panel-collapse collapse">
                                {% if tokens_received %}
                                    <table class="table table-bordered table-striped table-hover">
                                        <tr>
                                            <th>Last modification date</th>
                                            <th>Object</th>
                                            <th>Author (username)</th>
                                            <th>Actions</th>
                                        </tr>
                                        {% for token_received in tokens_received %}
                                            <tr>
                                                <td>{{ token_received.modified }}</td>
                                                <td>
                                                    {% for key, value in new_comments_by_token_received.items %}
                                                        {% if key == token_received.id %}
                                                         {% if value != 0 %}
                                                             <div class="newCommentsRed">
                                                                ({{ value }})
                                                                 {% if not token_received.read %}
                                                                    <div class="newToken">{{ token_received.artefact.object.name }}</div>
                                                                 {% else %}
                                                                     {{ token_received.artefact.object.name }}
                                                                {% endif %}
                                                             </div>
                                                         {% else %}
                                                             {% if not token_received.read %}
                                                                 <div class="newToken">{{ token_received.artefact.object.name }}</div>
                                                             {% else %}
                                                                 {{ token_received.artefact.object.name }}
                                                             {% endif %}
                                                         {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ token_received.user.username }}</td>
                                                <td>
                                                    {% if token_received.right == 'E' %}
                                                    <a href="{% url 'artefacts:artefact-update' pk=token_received.artefact.pk %}?token={{token_received.uuid}}" title="Edit artefact"><i class="fa fa-edit"></i></a> |
                                                    {% else %}
                                                    <a href="{% url 'artefacts:collaboration-comment' token_id=token_received.id %}" title="Comment artefact"><i class="fa fa-comment"></i></a> |
                                                    {% endif %}
                                                    <a href="{% url 'artefacts:collaboration-hide' pk=token_received.id %}" title="Delete collaboration"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    There is no received artefact for collaboration
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <a href="{% url 'artefacts:collaboration-deleted-menu' %}" class="btn btn-primary btn-md"><i class="fa fa-recycle"></i> Retrieve deleted collaborations</a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}

{% block custom_bottom_script %}
    <script type="text/javascript">
        $('.collapse').on('shown.bs.collapse', function(){
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hidden.bs.collapse', function(){
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    </script>
{% endblock %}
