{% extends "base.html" %}

{% block title %}<title>MiCorr | {{ user.username }} Collaboration</title>{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">

                <h2>{{ user.username|capfirst }}</h2>
                <h3>Collaborations</h3>
                <br>
            </div>
        </div>

        {% if user == request.user %}

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <a data-toggle="collapse" href="#artefacts_shared">Artefacts shared with contributors</a>
                                    {% if newCommentsSha != 0 %}
                                        <div class="pull-right">
                                            <div id="moncercle">
                                                <center>{{ newCommentsSha }}</center>
                                            </div>
                                        </div>
                                    {% endif %}
                                </h4>
                            </div>
                            <div id="artefacts_shared" class="panel-collapse collapse">
                                {% if tokens_shared_by_me %}
                                    <table class="table table-bordered table-striped table-hover">
                                        <tr>
                                            <th>Last modification</th>
                                            <th>Object</th>
                                            <th>Shared with</th>
                                            <th>Actions</th>
                                        </tr>
                                        {% for tokenSha in tokens_shared_by_me %}
                                            <tr>
                                                <td>{{ tokenSha.modified }}</td>

                                                <td>
                                                    {% for key, value in commentsForEachTokenSha.items %}
                                                        {% if key == tokenSha.id %}
                                                         {% if value != 0 %}
                                                             <div class="newCommentsRed">
                                                                ({{ value }})
                                                                {{ tokenSha.artefact.object.name }}
                                                             </div>
                                                         {% else %}
                                                            {{ tokenSha.artefact.object.name }}
                                                         {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ tokenSha.recipient }}</td>
                                                <td>
                                                    <a href="{% url 'artefacts:collaboration-update' tokenSha.id %}" title="Modify artefact"><i class="fa fa-pencil"></i></a> |
                                                    <a href="{% url 'artefacts:collaboration-comment' pk=tokenSha.id field='none' %}" title="Comment artefact"><i class="fa fa-comment"></i></a> |
                                                    <a href="{% url 'artefacts:collaboration-hide' pk=tokenSha.id %}" title="Delete collaboration"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    There is no shared artefact for collaboration
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <a data-toggle="collapse" href="#artefacts_received">Artefacts shared with me</a>
                                    {% if newCommentsRec != 0 %}
                                        <div class="pull-right">
                                            <div id="moncercle">
                                                <center>{{ newCommentsRec }}</center>
                                            </div>
                                        </div>
                                    {% endif %}
                                </h4>
                            </div>
                            <div id="artefacts_received" class="panel-collapse collapse">
                                {% if tokens_shared_with_me %}
                                    <table class="table table-bordered table-striped table-hover">
                                        <tr>
                                            <th>Last modification date</th>
                                            <th>Object</th>
                                            <th>Author (username)</th>
                                            <th>Actions</th>
                                        </tr>
                                        {% for tokenRec in tokens_shared_with_me %}
                                            <tr>
                                                <td>{{ tokenRec.modified }}</td>
                                                <td>
                                                    {% for key, value in commentsForEachTokenRec.items %}
                                                        {% if key == tokenRec.id %}
                                                         {% if value != 0 %}
                                                             <div class="newCommentsRed">
                                                                ({{ value }})
                                                                {{ tokenRec.artefact.object.name }}
                                                             </div>
                                                         {% else %}
                                                            {{ tokenRec.artefact.object.name }}
                                                         {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ tokenRec.user.username }}</td>
                                                <td>
                                                    <a href="{% url 'artefacts:collaboration-comment' pk=tokenRec.id field='none' %}" title="Comment artefact"><i class="fa fa-comment"></i></a> |
                                                    <a href="{% url 'artefacts:collaboration-hide' pk=tokenRec.id %}" title="Delete collaboration"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    There is no received artefact for collaboration
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="pull-right">
                        <a href="{% url 'artefacts:collaboration_deleted_menu' %}" class="btn btn-primary btn-md"><i class="fa fa-recycle"></i> Retrieve deleted collaborations</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}

{% block custom_bottom_script %}
    <script type="text/javascript">
        $('.collapse').on('shown.bs.collapse', function(){
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hidden.bs.collapse', function(){
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    </script>
{% endblock %}
