{% extends "base.html" %}

{% block title %}MiCorr | {{ user.username }} Deleted collaboration{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">

                <h2>{{ user.username|capfirst }}</h2>
                <h3>Deleted collaborations</h3>
                <br>
            </div>
        </div>

        {% if user == request.user %}

            <div class="row">
                <div class="col-sm-12 ">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <a data-toggle="collapse" href="#artefacts_shared">Deleted artefacts shared with contributors</a>
                                </h4>
                            </div>
                            <div id="artefacts_shared" class="panel-collapse collapse">
                                {% if tokens_shared %}
                                    <table class="table table-bordered table-striped table-hover">
                                        <tr>
                                            <th>Last modification</th>
                                            <th>Object</th>
                                            <th>Shared with</th>
                                            <th>Action</th>
                                        </tr>
                                        {% for token_shared in tokens_shared %}
                                            <tr>
                                                <td>{{ token_shared.modified }}</td>
                                                <td>{{ token_shared.artefact.object.name }}</td>
                                                <td>{{ token_shared.recipient }}</td>
                                                <td>
                                                    <center><a href="{% url 'artefacts:collaboration-retrieve' token_id=token_shared.id %}" onclick="return confirm('Are you sure you want to retrieve this collaboration ? It will appear in your collaboration menu again')" title="Retrieve collaboration"><i class="fa fa-reply"></i></a></center>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    There is no shared artefact deleted
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <a data-toggle="collapse" href="#artefacts_received">Deleted artefacts shared with me</a>
                                </h4>
                            </div>
                            <div id="artefacts_received" class="panel-collapse collapse">
                                {% if tokens_received %}
                                    <table class="table table-bordered table-striped table-hover">
                                        <tr>
                                            <th>Last modification date</th>
                                            <th>Object</th>
                                            <th>Author (username)</th>
                                            <th>Actions</th>
                                        </tr>
                                        {% for token_received in tokens_received %}
                                            <tr>
                                                <td>{{ token_received.modified }}</td>
                                                <td>{{ token_received.artefact.object.name }}</td>
                                                <td>{{ token_received.user.username }}</td>
                                                <td>
                                                    <center><a href="{% url 'artefacts:collaboration-retrieve' token_id=token_received.id %}" onclick="return confirm('Are you sure you want to retrieve this collaboration ? It will appear in your collaboration menu again')" title="Retrieve collaboration"><i class="fa fa-reply"></i></a></center>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    There is no received artefact deleted
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                        <a href="{% url 'artefacts:collaboration-menu' %}" class="btn btn-primary btn-md"> Return to collaboration menu</a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}

{% block custom_bottom_script %}
    <script type="text/javascript">
        $('.collapse').on('shown.bs.collapse', function(){
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
            }).on('hidden.bs.collapse', function(){
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    </script>
{% endblock %}
