{% load static documents_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block title %}
      <title>MiCorr</title>
  {% endblock title %}

<script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=211388(font-family=DIN+Next+Pro+Medium)&sid=217470(font-family=DIN+Next+Pro+Medium)&sid=217469(font-family=DIN+Next+Pro+Regular)&sid=217467(font-family=DIN+Next+Pro+Light)&key=tNHbXuRhxc',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();

    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=209492(font-family=Miso+Bold)&sid=209490(font-family=Miso)&sid=209494(font-family=Miso+Light)&key=gwmkEJHaRD',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();


    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=259686(font-family=Compasse+Bold)&sid=259693(font-family=Compasse+Light)&sid=259695(font-family=Compasse+Regular)&sid=259690(font-family=Compasse+Extra+Light)&key=sPc7yFZ8fS',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();    

 
 
</script>

<style type="text/css">#mfPreviewBar{display:none!important;}</style>

  
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'stylesheets/mystyle.css' %}" media="all">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->
<!--[if gt IE 8]><!-->

    <link rel="stylesheet" href="{% static 'stylesheets/mystyle.css' %}" media="all"><!---responsive-->

<!--<![endif]-->

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />


</head>
<!-- body class="intro" -->

<body class="sticky-footer">

  <div id="banner">
    <div class="container">
        {% block menu %}
            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}
        {% endblock %}
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% block sidemenu %}
      {% endblock sidemenu %}
      <div class="c9">


          {% block content %}
          {% endblock content %}
        





         <!-- accordion test -->

<!--

        <h1>Demonstration</h1>
        <h2 >Section Three - demo</h2>
        <h1>Folded content - Title 1</h1>
        <h2>Title 2 AVMI</h2>
        <h3>Title 3 AVMI</h3>
        <h4>Title 4 AVMI</h4>
        <h4 class="underline">Title 4 AVMI</h4>
        <p>Follow this <a href="#">link</a></p>
        <p>
          <ul class="bullets">
            <li>Lorempisum</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Haec oremor siet.</li>
          </ul>
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, repellendus!</p>
        -->





      </div>
    </div>
  </div> <!-- container for content-->

  









  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="c8 pre2 center">
          <a href="#">Conditions d’utilisation</a> | <a href="#">Privacy</a> | <a href="#">Impressum</a>

        </div>
        <div class="c2">
          <img src="{% static 'stylesheets/logo-arc.png' %}" alt="" class="img-responsive">
        </div>
      
      </div>
    </div>
  </div>

  <!-- script src="http://code.jquery.com/jquery-1.9.1.min.js"></script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/MagnificPopup.min.js' %}"></script>
  <!--script src="js/jquery.sidr.min.js"></script-->
  <script src="{% static 'js/all-init.js' %}"></script>


</body>
</html>