{% extends "base_root.html" %}

{% block content_container %}
  <div class="container">
    {% if messages %}
    <div class="row">
      <div class="pre3 c9">
      <div class="row">
        {% for message in messages %}
           <div class="alert alert-dismissable alert-{% if message.tags %}{{ message.tags }}{% endif %} fade in" role="alert" data-auto-dismiss="4000">
               <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message }}
           </div>
        {% endfor %}
      <div class="alert alert-dismissable alert-success fade in" role="alert" data-auto-dismiss="4000">
               <a class="close" data-dismiss="alert" href="#">&times;</a>
            <div id="ajax-message-div"></div>
    </div>
      </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      {% block sidemenu %}
      {% endblock sidemenu %}
      {% block content %}
      {% endblock content %}
    </div>
  </div> <!-- container for content-->
{% endblock %}
