{% load static documents_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="slideshow"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MiCorr</title>

  <style type="text/css">
      @font-face {
          font-family: "Miso";
          src: url("{% static 'fonts/Miso.woff' %}") format('woff');
      }
      @font-face {
          font-family: "DIN Next Pro Light";
          src: url("{% static 'fonts/DINNextLight.woff' %}") format('woff');
      }
      @font-face {
          font-family: "DIN Next Pro Regular";
          src: url("{% static 'fonts/DINNextRegular.woff' %}") format('woff');
      }
      @font-face {
          font-family: "DIN Next Pro Medium";
          src: url("{% static 'fonts/DINNextMedium.woff' %}") format('woff');
      }
  </style>

    <style type="text/css">#mfPreviewBar {
        display: none !important;
    }</style>


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="stylesheets/mystyle.css" media="all">
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->
    <!--[if gt IE 8]><!-->

    <link rel="stylesheet" href="{% static 'stylesheets/mystyle.css' %}" media="all"><!---responsive-->

    <!--<![endif]-->

    <link rel="shortcut icon" href="{% static 'landing/img/favicon/favicon.ico' %}" type="image/x-icon"/>


</head>
<!-- body class="intro" -->

<body class="slideshow">

<div id="headlogo">
    <div class="container">
        <div class="row">
            <div class="w3">
                <a href=""><img src="{% static 'stylesheets/logo-intro.png' %}" class="img-responsive" alt="logo"/></a>
            </div>
        </div>
    </div>
</div>
<div id="headintro">
    <div id="topmenu" class="smooth-scroll"> <!-- smoothly scroll to internal links # -->
        <div class="container">
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self cssclass="pre3" hidetoplogo=True %}
            {% endblock %}
        </div>
    </div>
    <div id="topsubmenu" class="smooth-scroll"> <!-- smoothly scroll to internal links # -->
        <div class="container">
            <div class="row">
                <div class="w9 pre3">
                    <a href="#search"><i class="fa fa-search"></i>Search tools</a>
                    <a href="#submit"><i class="fa fa-arrow-circle-up"></i>Submit new artefact</a>
                    <a href="#learn"><i class="fa fa-book"></i>Learn</a>
                    <a href="#news"><i class="fa fa-calendar-o"></i>News</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  carrousel -->
<div id="slideshow-container" class="fullh1 hidden-xs">
    <div class="fullh2">


        <div id="slideshow" class="fullh3 carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
            <!--hidden-xs -->
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                <li data-target="#slideshow" data-slide-to="1"></li>
                <li data-target="#slideshow" data-slide-to="2"></li>
                <li data-target="#slideshow" data-slide-to="3"></li>
                <li data-target="#slideshow" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- 1st page -->

                <div class="item active">
                    <div class="slide"
                         style="background-image: url({% static 'slideshow/image7.jpg' %}); background-position: right center">
                        <div class="container">
                            <div class="row">
                                <div class="w5 pre6">
                                    <div class="slidetext">
                                        <h2><span style="color: #e78115; font-weight: bold;">MICORR</span> is a free
                                            online diagnosis supporting tool for anyone with a real interest in metal
                                            corrosion</h2>
                                        <p class="right">
                                            <a class="btn btn-default btn-lg" href="/learn/tour/">
                                                Take the tour <i class="fa fa-video-camera faded"></i>
                                            </a>
                                        </p>
                                        <p class="left no-underline"><a href="#" class="hide-slideshow"><i
                                                class="fa fa-close faded"></i> hide this presentation</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2nd page -->
                <div class="item">
                    <div class="slide"
                         style="background-image: url({% static 'slideshow/image8.jpg' %}); background-position: right bottom">
                        <div class="container">
                            <div class="row">
                                <div class="w5 pre7">
                                    <div class="slidetext">
                                        <h1>The examination of corrosion layers can reveal much about the condition of a
                                            metal artefact</h1>
                                        <h2><span style="color: #e78115; font-weight: bold;">MICORR</span> helps to
                                            diagnose corrosion forms</h2>
                                        <p class="right">
                                            <a class="btn btn-default btn-lg" href="/learn/tour/">
                                                Take the tour <i class="fa fa-video-camera faded"></i>
                                            </a>
                                        </p>
                                        <p class="left no-underline"><a href="#" class="hide-slideshow"><i
                                                class="fa fa-close faded"></i> hide this presentation</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3rd page -->
                <div class="item">
                    <div class="slide"
                         style="background-image: url({% static 'slideshow/image2.jpg' %}); background-position: right center">
                        <div class="container">
                            <div class="row">
                                <div class="w5 pre6">
                                    <div class="slidetext">
                                        <h1>Corrosion stratigraphy can be difficult to visualize</h1>
                                        <h2><span style="color: #e78115; font-weight: bold;">MICORR</span> allows to
                                            represent observed corrosion forms graphically</h2>
                                        <p class="right">
                                            <a class="btn btn-default btn-lg" href="/learn/tour/">
                                                Take the tour <i class="fa fa-video-camera faded"></i>
                                            </a>
                                        </p>
                                        <p class="left no-underline"><a href="#" class="hide-slideshow"><i
                                                class="fa fa-close faded"></i> hide this presentation</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 4th page -->
                <div class="item">
                    <div class="slide"
                         style="background-image: url({% static 'slideshow/image6.jpg' %}); background-position: right center">
                        <div class="container">
                            <div class="row">
                                <div class="w5 pre6">
                                    <div class="slidetext">
                                        <h1>Corrosion forms often differ from simplified textbook descriptions</h1>
                                        <h2><span style="color: #e78115; font-weight: bold;">MICORR</span> allows
                                            comparative examination with real case studies</h2>
                                        <p class="right">
                                            <a class="btn btn-default btn-lg" href="/learn/tour/">
                                                Take the tour <i class="fa fa-video-camera faded"></i>
                                            </a>
                                        </p>
                                        <p class="left no-underline"><a href="#" class="hide-slideshow"><i
                                                class="fa fa-close faded"></i> hide this presentation</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 5th page -->
                <div class="item">
                    <div class="slide"
                         style="background-image: url({% static 'slideshow/image5.jpg' %}); background-position: right center">
                        <div class="container">
                            <div class="row">
                                <div class="w5 pre6">
                                    <div class="slidetext">
                                        <h1>Micorr relies on multiple contributors to enrich the database with new
                                            corrosion models</h1>
                                        <h2>Your contribution will keep <span
                                                style="color: #e78115; font-weight: bold;">MICORR</span> alive and make
                                            it more performing</h2>
                                        <p class="right">
                                            <a class="btn btn-default btn-lg" href="/learn/tour/">
                                                Take the tour <i class="fa fa-video-camera faded"></i>
                                            </a>
                                        </p>
                                        <p class="left no-underline"><a href="#" class="hide-slideshow"><i
                                                class="fa fa-close faded"></i> hide this presentation</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of pages -->
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#slideshow" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <div class="arrowbottom"></div>

        </div>

    </div>
</div>

<!-- End of carrousel -->

<div id="slideshow-replacement" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="line right">
                <a class="btn btn-default btn-lg" href="/learn/tour/">
                    Take the tour <i class="fa fa-video-camera faded"></i>
                </a>
            </div>
        </div>
    </div>
</div>


<div id="search" class="container">
    <div class="row">
        <div class="line center">
            <h1>Search tools</h1>
            <p class="smooth-scroll"><a href="#learn" class="no-underline"><i class="fa fa-book faded"></i> Learn how to
                efficiently use the search tool</a></p>
        </div>
    </div>
    <div class="c6">
        <h3 class="underline">by stratigraphy representation</h3>
        <a href="{% url 'artefacts:searchStratigraphy' %}"><img src="{% static 'pics/stratigraphy.png' %}"
                                                                class="img-responsive"></a>
    </div>
    <div class="c6">
        <h3 class="underline">by keywords</h3>
        <a href="{% url 'artefacts:artefact-list' %}"><img src="{% static 'pics/keywords.png' %}"
                                                           class="img-responsive"></a>
    </div>
</div>

<div id="submit" class="lightframe">
    <div class="container">
        <div class="row center">
            <h1>Submit new artefact</h1>
            <div class="submit">
                <p>This page allows you to create a file that describes a corrosion form that you have observed on an
                    artefact that you are examining.</p>
                <p>For this you need to enter the following information:</p>
                <br>
                <ul>
                    <li>the metadata related to the artefact</li>
                    <li>the stratigraphy of the corrosion form observed (created with the search tool “By stratigraphy
                        representation”
                    </li>
                </ul>
                <br>
                <p>You have the possibility to keep this file as a working document and to continue completing it (alone
                    or through a collaborative work with other MiCorr contributors). Once complete you have several
                    options:</p>
                <br>
                <ul>
                    <li>you keep it under your profile without sharing it</li>
                    <li>you share it with the MiCorr community (recommended)</li>
                </ul>
                <br>
                <p>For the second option, your file will be reviewed by the MiCorr scientific committee.</p>
                <p>If accepted it will be made available to the MiCorr community (from the search tools).</p>
            </div>
            <br>
            <p class="right">
                <a href="/artefacts/create">
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal">
                        <i class="fa fa-arrow-circle-up"></i> Create new artefact
                    </button>
                </a>
            </p>
        </div>
    </div>
</div>

<div id="learn" class="paleframe">
    <div class="container">
        <div class="row center">
            <div class="line">
                <h1>Learn</h1>
            </div>
{% comment %}
            <div class="c4">
                <i class="fa fa-compass disc fa-3x"></i>
                <h3>Contextual help</h3>
                <p></p>
            </div>
{% endcomment %}
            <a href="learn/manual2">
                <div class="c4">
                    <i class="fa fa-book disc fa-3x"></i>
                    <h3>Manual</h3>
                    <p>A guide to use properly the website</p>
                </div>
            </a>
            <a href="learn/stratigraphy-construction/">
                <div class="c4">
                    <i class="fa fa-bars disc fa-3x"></i>
                    <h3>Stratigraphy construction</h3>
                    <p>Learn how to construct schematically a stratigraphy</p>
                </div>
            </a>
            <a href="learn/tour/">
            <div class="c4">
                <i class="fa fa-video-camera disc fa-3x"></i>
                <h3>Tour</h3>
                <p>An animated discovery of MiCorr</p>
            </div>
            </a>
        </div>
{% comment %}
        <div class="row center">
            <div class="c4">
                <i class="fa fa-question disc fa-3x"></i>
                <h3>FAQ and more information</h3>
                <p>Help tool and responses to basic questions</p>
            </div>
        </div>
{% endcomment %}
    </div>
</div>

<div id="news" class="lightframe">
    <div class="container">
        <div class="c6" >
            <h1>News <i class="fa fa-calendar-o faded"></i></h1>
            <div class="lightframe">
                <div class="row underline">
                    <div class="c4">
                        <h2>29 September 2016</h2>
                    </div>
                    <div class="c8">
                        <h3>Launching of the MiCorr application</h3>
                        <p class="small">the MiCorr application will be presented to the conservation community during Metal 2016 in New Delhi.</p>
                        <p><i class="fa fa-chevron-right faded"></i> <a href="../static/news/workshop.pdf" target=_blank>more</a></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="c6" id="network">
            <h1>MiCorr network <i class="fa fa-random faded"></i></h1>
            <div class="row">
                <div class="c6">
                    <h3><i class="fa fa-users faded"></i> Find specialists</h3>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle fill" type="button" id="dropdownMenu1"
                                data-toggle="dropdown">
                            Select expertise
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Conservation</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Corrosion science</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Archaeometry</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Archaeometallurgy</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Metallography</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Analysis</a></li>
                        </ul>
                    </div>

                </div>
                <div class="c6">
                    <h3><i class="fa fa-university faded"></i> Find institutions</h3>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle fill" type="button" id="dropdownMenu1"
                                data-toggle="dropdown">
                            Filter by...
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Museums</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Conservation laboratories /
                                Centers</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Research laboratories</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="c8 pre2 center">
                <a href="/conditions-use">Conditions of use</a> | <a href="/contact/">Contact</a> | <a href="/privacy">Privacy</a> | <a href="/impressum">Impressum</a>

            </div>
            <div class="c2">
                <img src="{% static 'stylesheets/logo-arc.png' %}" alt="" class="img-responsive">
            </div>

        </div>
    </div>
</div>

<!-- script src="http://code.jquery.com/jquery-1.9.1.min.js"></script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/MagnificPopup.min.js' %}"></script>
<!--script src="js/jquery.sidr.min.js"></script-->
<script src="{% static 'js/all-init.js' %}"></script>


</body>
</html>
