{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="MiCorr-Application to study and analyse the microstructures and corrosion forms of ancient and historic metals">
		<meta name="author" content="HES-SO//HE-Arc">
		<title>MiCorr - Application to study and analyse the microstructures and corrosion forms of ancient and historic metals</title>
		
		<!-- Stylesheets -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="{% static 'landing/css/font-awesome.min.css' %}" rel="stylesheet">
		<link href="{% static 'landing/css/bootstrapValidator.min.css' %}" rel="stylesheet">
		<link href="{% static 'landing/css/ladda-themeless.min.css' %}" rel="stylesheet">
		<link href="{% static 'landing/css/animate.min.css' %}" rel="stylesheet">
		<link href="{% static 'landing/css/app.css' %}" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'landing/img/favicon/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'landing/img/favicon/favicon.ico' %}" type="image/x-icon">
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="{% static 'landing/js/html5shiv.js' %}"></script>
			<script src="{% static 'landing/js/respond.min.js' %}"></script>
		<![endif]-->
	</head>
	<body>
		<!-- Preloader -->
		<div id="preloader">
			<div id="status" class="text-center">
				<div class="spinner">
				  <div class="rect1"></div>
				  <div class="rect2"></div>
				  <div class="rect3"></div>
				  <div class="rect4"></div>
				  <div class="rect5"></div>
				</div>
			</div>
		</div>
		
		<!-- Main -->
		<section class="main text-center" id="home">
			<div class="page">
				<div class="wrapper">
					<div class="container">
						<img src="{% static 'landing/img/logo/logo.png' %}" alt="Logo">
						<h1 class="heading">coming soon</h1>
						<p>
							Application to study and analyse the microstructures and corrosion forms of ancient and historic metals
						</p>
						<div class="row">
							<div id="countdown"></div>
						</div>
						<!-- Subscription form -->
						<form class="form-inline signup" enctype="multipart/form-data" method="post" action="/newsletter/micorr-project/subscribe/" role="form" id="signupForm">
							<div class="form-group">
                                <input id="id_email_field" name="email_field" type="email" class="form-control" placeholder="Email address" />
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-theme ladda-button" data-style="expand-left"><span class="ladda-label">Get notified!</span></button>
							</div>
                            {% csrf_token %}
						</form>
						<footer class="text-center">
							<div class="social">
								<a href="https://twitter.com/micorrproject" rel="publisher" target="_blank" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
								<a href="https://plus.google.com/103248598202017563184" rel="publisher" target="_blank" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
							</div>
						</footer>
					</div>
					<div class="arrow-down">
						<a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a>
					</div>
				</div>
			</div>
		</section>
		
		<!-- About -->
		<section id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">About</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead">
							<strong>MiCorr</strong> is a new and innovative application to study and analyse the
                            microstructures and corrosion forms of ancient and historic metals.
						</p>
						<p>The project is a joint between the faculty of conservation and restauration and the faculty
                            of economics from the Haute école Arc in Neuchâtel, Switzerland. The project aims at
                            developing a new and innovative way to analyse corrosion forms of ancient and historic
                            metals based on their stratigraphies. The application will offer new tools to design,
                            compare and search objects or forms of corrosion based on their stratigraphies.
						</p>
						<div class="row">
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown">
									<div class="icon">
										<i class="fa fa-search"></i>
									</div>
									<div class="description">
										<h4>Full text search</h4>
										<p>MiCorr gives you full text search access to all MIFAC-Metal objects. Get
                                            instant access to detailled descriptions.
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown" data-wow-delay="0.2s">
									<div class="icon">
										<i class="fa fa-area-chart"></i>
									</div>
									<div class="description">
										<h4>Create Stratigraphies</h4>
										<p>Using MiCorr, you can create your own stratigraphies and search corresponding
                                            corrosion scheme.
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown" data-wow-delay="0.4s">
									<div class="icon">
										<i class="fa fa-group"></i>
									</div>
									<div class="description">
										<h4>Collaborate</h4>
										<p>With MiCorr you can share your work, get advices and find people working on
                                            the same type of objects.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Team -->
		<section id="team" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Our team</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-sm-3 text-center team-member-container wow fadeInDown">
						<div class="team-member">
							<div class="team-member-img">
								<img src="{% static 'landing/img/portraits/cedric.jpg' %}" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>Cédric Gaspoz</h4>
								<span class="team-member-profession">Faculty</span>
								<p>Project leader and main architect of the project</p>
								<div class="social">
									<a href="mailto:cedric.gaspoz@he-arc.ch" class="btn btn-theme"><i class="fa fa-envelope"></i></a>
									<a href="http://people.he-arc.ch/contact.php?id=65606150" target="_blank" class="btn btn-theme"><i class="fa fa-user"></i></a>
                                    <a href="http://ch.linkedin.com/in/cgaspoz/" target="_blank" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-center team-member-container wow fadeInDown" data-wow-delay="0.2s">
						<div class="team-member">
							<div class="team-member-img">
								<img src="{% static 'landing/img/portraits/christian.jpg' %}" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>Christian Degrigny</h4>
								<span class="text-muted team-member-profession">Faculty</span>
								<p>Conservation specialist and designer of the new stratigraphic model</p>
								<div class="social">
									<a href="mailto:christian.degrigny@he-arc.ch" class="btn btn-theme"><i class="fa fa-envelope"></i></a>
									<a href="http://people.he-arc.ch/contact.php?id=165164581" target="_blank" class="btn btn-theme"><i class="fa fa-user"></i></a>
                                    <a href="http://fr.linkedin.com/pub/christian-degrigny/87/316/233" target="_blank" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-center team-member-container wow fadeInDown" data-wow-delay="0.4s">
						<div class="team-member">
							<div class="team-member-img">
								<img src="{% static 'landing/img/portraits/antoine.jpg' %}" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>Antoine Rosselet</h4>
								<span class="team-member-profession">Research Assistant</span>
								<p>Main developer behind MiCorr and great basketball player</p>
								<div class="social">
									<a href="mailto:antoine.rosselet@he-arc.ch" class="btn btn-theme"><i class="fa fa-envelope"></i></a>
									<a href="http://people.he-arc.ch/contact.php?id=3327157200" target="_blank" class="btn btn-theme"><i class="fa fa-user"></i></a>
                                    <a href="http://ch.linkedin.com/pub/antoine-rosselet/78/0/a53" target="_blank" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-center team-member-container wow fadeInDown" data-wow-delay="0.6s">
						<div class="team-member">
							<div class="team-member-img">
								<img src="{% static 'landing/img/portraits/romain.jpg' %}" alt="" class="img-responsive">
							</div>
							<div class="team-member-meta">
								<h4>Romain Jeanneret</h4>
								<span class="team-member-profession">Research Assistant</span>
								<p>Conservation and restoration specialist</p>
								<div class="social">
									<a href="mailto:romain.jeanneret@he-arc.ch" class="btn btn-theme"><i class="fa fa-envelope"></i></a>
									<a href="http://people.he-arc.ch/contact.php?id=34633709" target="_blank" class="btn btn-theme"><i class="fa fa-user"></i></a>
                                    <a href="http://www.linkedin.com/pub/romain-jeanneret/54/47/26b" target="_blank" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Contact -->
		<section id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Contact</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<p>
							<strong>MiCorr</strong> is still in development but feel free to contact us if you are
                            interested in the project.
						</p>
						<ul class="list-contacts">
							<li><i class="fa fa-map-marker"></i> HEG Arc - MiCorr<br> Espace de l'Europe 21<br> CH-2000 Neuchâtel</li>
							<li><i class="fa fa-envelope-o"></i> <a href="mailto:micorr@he-arc.ch">micorr@he-arc.ch</a></li>
						</ul>
					</div>
					<div class="col-sm-6">
						<form class="form-horizontal" action="/contact/" method="post" role="form" id="contactForm">
							<div class="form-group">
								<div class="col-sm-6">
									<input type="text" name="sender" class="form-control" placeholder="Name">
								</div>
								<div class="col-sm-6">
									<input type="text" name="email" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea name="message" class="form-control" rows="8" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
										<span class="ladda-label">Submit</span>
									</button>
								</div>
							</div>
                            <input type="hidden" name="subject" value="[MiCorr] Contact Form">
                            <input type="hidden" name="category" value="10">
                            {% csrf_token %}
						</form>
					</div>
				</div>
			</div>
		</section>
		
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static 'landing/js/jquery.min.js' %}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'landing/js/jquery.backstretch.min.js' %}"></script>
		<script src="{% static 'landing/js/jquery.countdown.min.js' %}"></script>
		<script src="{% static 'landing/js/bootstrapValidator.min.js' %}"></script>
		<script src="{% static 'landing/js/validator/emailAddress.js' %}"></script>
		<script src="{% static 'landing/js/spin.min.js' %}"></script>
		<script src="{% static 'landing/js/ladda.min.js' %}"></script>
		<script src="{% static 'landing/js/retina.min.js' %}"></script>
		<script src="{% static 'landing/js/wow.min.js' %}"></script>
		<script src="{% static 'landing/js/init.js' %}"></script>
	</body>
</html>