{% extends "base.html" %}

{% block title %}
    <title>MiCorr | Manual</title>
{% endblock title %}

{% block content %}

    <h1>Manual</h1>
    <h4>A guide to use properly the website</h4>
    <br>
    <p>The MiCorr Decision Support System (DSS) has been designed to help users search for corrosion forms.</p>
    <br>
    <p>The <a data-toggle="modal" data-target=".animation" onmouseover="this.style.cursor='pointer'">tour</a> gives an introduction to the philosophy of the MiCorr application. It is recommended to visualise it if
        you visit MiCorr for the first time</p>
    <br>
    <p>The About tab of the top menu presents the context of the project, its methodology and the development teams.</p>
    <br>
    <p>Two <a href="/#search" target="_blank">Search tools</a> are used to search for corrosion forms: </p>
    <ul>
        <li>by keywords</li>
        <li>by stratigraphy representation</li>
    </ul>
    <br>
    <p>The search tool by keywords enables users to enter keywords or select filters (country, metal family, corrosion
        forms and environment) to speed up the search for corrosion forms. Results are presented in the form of a table
        providing information on metal family, alloy composition, object type, chronology, technology and
        microstructure. The complete data sheet for each corrosion form is accessible by clicking on each line.</p>
        <br>
    <p>The search tool by stratigraphy representation is based on the digital construction of stratigraphies documented
        during the visual observations of artefacts and their local probing via Bertholon’s method (Bertholon 2000). A
        graphical user interface allows virtual construction of stratigraphies using encoded building blocks (see <a href="/stratigraphy-construction" target="_blank">Learn
        / Stratigraphy construction</a>). New corrosion forms are first described according to the strata (metal, corroded
        metal, corrosion layers etc) structure and the characteristics / sub-characteristics of each stratum
        (morphology, microstructure, texture etc). The Micorr application is used then to compare the newly built
        corrosion forms with corrosion forms already stored in its database (from comprehensive investigations of
        historic and archaeological artefacts probed physically and analysed for their composition). The comparison is
        based on the ratio of shared characteristics and the total number of characteristics in the artefact. A
        comparison score has been created to determine the closest match with database entries. Results are presented in
        the form of a table giving access either to the complete data sheet for each corrosion form or its corresponding
        stratigraphy (built using the search tool by stratigraphy representation).</p>
    <br>
    <p>The online MiCorr interface has been developed so that the project is accessible to everyone. Existing corrosion
        forms can be consulted using search tools without registering.</p>
    <br>
    <p>To save data, users need to register. Any newly built stratigraphy will be saved under the users’ profiles. By
    clicking on <a href="/#submit" target="_blank">Submitting new item</a> registered users will have the possibility to build their own corrosion form and
    make it available to other MiCorr members. This should ultimately improve and enrich the database and make the
    MiCorr interface a better performing Decision Support System.</p>

{% endblock content %}
