{% extends "base.html" %}

{% block title %}
    <title>MiCorr | Stratigraphy construction</title>
{% endblock title %}

{% block content %}

    <h1>Stratigraphy construction</h1>
    <h4>Learn how to construct schematically a stratigraphy</h4>
    <br>
    <p>The MiCorr application enables the users to digitally construct stratigraphies that they document during their visual observations and local probing of artefacts via Bertholon’s method (Bertholon 2000). </p>
    <br>
    <img src=../media/learn/visual-observation.jpg alt ="Visual observation">
    <p><i>Fig. 1: Visual observation of an artefact under a binocular microscope, (c) Jeanneret.</i></p>
    <br>
    <p>By observing the artefacts surface under a binocular microscope, the users try to understand the stratigraphies of the corrosion products and associated materials (Fig. 1). </p>
    <br>
    <p>Schematics of the artefacts cross-sections are drawn to document the strata (Fig. 2). Local probing with a scalpel can also help determine the order of strata and their characteristics (e.g. brittleness, softness).</p>
    <br>
    <img src=../media/learn/schematics.jpg alt ="Schematics">
    <p><i>Fig. 2: Schematics of an artefact cross-section and selection of a stratigraphy (red square), (c) Rotzetta.</i></p>
    <br>
    <p>These conceptual models contain information on strata thickness, texture, morphology, composition (if known), and microstructures (for metal and ghost structures). Strata interfaces and markers are also included as they are crucial for identifying the limit of the original surface (Bertholon 2001).</p>
    <br>
    <p>It is at this point that the MiCorr application can be used. </p>
    <br>
    <h2>Construction of the corrosion strata structure</h2>
    <p>The user clicks on the Search tool by Stratigraphy Representation as indicated on figure 3.</p>
    <img src=../media/learn/screenshot-1.jpg alt ="Screenshot">
    <p><i>Fig. 3: Screenshot of MiCorr Search tools page.</i></p>
    <br>
    <p>A new stratum is added by clicking on “+ add a stratum” button (Fig. 4). A code with its number is added automatically and highlighted to specify the type of stratum: M (Metal), CM (corroded metal), CP (corrosion product), NMM (non metallic material), S (soil), D (deposit), SV (structural voids), etc. The fields of the characteristics (morphology, texture, microstructure, composition, interface) and sub-characteristics of the strata are provided in parallel. They can be filled once a stratum is created or at the end of the construction of the corrosion strata structure (see below). </p>
    <br>
    <img src=../media/learn/screenshot-2.jpg alt ="Screenshot">
    <p><i>Fig. 4: Screenshot of the Search tool by Stratigraphy representation showing the “M1” stratum.</i></p>
    <br>
    <p>Any new stratum added of the corrosion strata structure is appearing below the previous one (Fig. 5). </p>
    <img src=../media/learn/screenshot-3.jpg alt ="Screenshot">
    <p><i>Fig. 5: Screenshot of the Search tool by Stratigraphy representation showing “M1” and “CP1” strata.</i></p>
    <br>
    <p>Once the corrosion strata structure is completed, the user has to re-position each stratum versus the other using the arrows included next to each code. When more than one stratum of a type is considered their number progresses from the exterior to the interior of the stratigraphy.</p>
    <br>
    <img src=../media/learn/screenshot-4.jpg alt ="Screenshot">
    <p><i>Fig. 6: Screenshot of the Search tool by Stratigraphy representation showing the corrosion strata structure corresponding to the stratigraphy of Fig. 2 cross-section. The thickness field of each stratum has been filled to visualise correctly the structure (otherwise it would be out of the screen).</i></p>
    <br>
    <h2>Building the corrosion form</h2>
    <p>The next step is to characterize each stratum (Fig. 7). Each field has to be filled to make the comparison with the existing corrosion forms more efficient.</p>
    <img src=../media/learn/screenshot-5.jpg alt ="Screenshot">
    <p><i>Fig. 7: Screenshot of the Search tool by Stratigraphy representation showing the corrosion form corresponding to the stratigraphy of Fig. 2 cross-section once each stratum has been characterized.</i></p>
    <br>
    <h2>Comparing a new corrosion form to an existing corrosion form</h2>
    <p>The user can question the MiCorr application to find corrosion form(s) similar to the corrosion form newly built by clicking on the “Find similar” button.</p>
    <h2>Saving a corrosion form</h2>
    <p>Users need to register to save their stratigraphies under their profile.</p>
    <h2>References</h2>
    <p>Bertholon, R. 2001. Characterization and location of the original surface of corroded archaeological objects. Surface Engineering, 17 (3): 241-245.</p>
    <p>Bertholon, R. 2000. La limite de la surface d'origine des objets métalliques archéologiques, caractérisation, localisation et approche des mécanismes de conservation. PhD dissertation, University Paris 1 Panthéon-Sorbonne, France. Corrosion doctors: http://www.corrosion-doctors.org/pict-type.htm (accessed 10.19.2015).</p>
{% endblock content %}
