<section>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#/artefact/{{artefactName}}">{{artefactName}}</a></li>
    </ol>

    <div ng-controller="ModalAddStratigraphyCtrl">
        <script type="text/ng-template" id="modalAddStratigraphy.html">
            <div class="modal-header">
                <h3 class="modal-title">Add a stratigraphy</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div ng-controller="addStratigraphyCtrl">
                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                    </div>
                    <fieldset>
                        <label>Name</label>
                        <input type="text" placeholder="Stratigraphy1234" ng-model="strat">
                        <span class="help-block">Type the name of a stratigraphy to add</span>
                    </fieldset>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <button type="button" class="btn btn-primary" ng-click="open()">
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add a stratigraphy
        </button>
        <br/><br/>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td width="50">#</td>
                    <td>Stratigraphy</td>
                    <td width="100" class="text-center">Edit</td>
                    <td width="100"class="text-center">Remove</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='strat in strats'>
                    <td><strong>{{$index + 1}}</strong></td>
                    <td><a href='#/artefact/{{artefactName}}/{{strat.name}}/{{strat.description}}'>{{strat.description}}</a></td>
                    <td class="text-center"><a href='#/artefact/{{artefactName}}/{{strat.name}}/{{strat.description}}'><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                    <td class="text-center">
                        <div ng-controller="ModalDelstratigraphyCtrl">
                            <script type="text/ng-template" id="delStratigraphyContent.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">Delete this stratigraphy</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Do you really want to delete this stratigraphy ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>

                            <a ng-click="open('sm', strat.name)"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>