<section ng-controller="showStrat">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#/artefact/{{artefactName}}">{{artefactName}}</a></li>
                    <li><a href="#/artefact/{{artefactName}}/{{stratigraphyName}}">{{stratigrapgydescription}}<a/></li>
                </ol>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 text-center" ng-controller="ModalAddStrataCtrl">
                        <script type="text/ng-template" id="modalAddStrata.html">
                            <div class="modal-header">
                                <h3 class="modal-title">Add a strata</h3>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="natureFamily">Nature Family</label>
                                        <select ng-model="nature" id="natureFamily" class="form-control" >
                                            <option ng-repeat="nature in natures.natures" value="{{nature.code}}">{{nature.description}}</option>
                                        </select>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">OK</button>
                                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                            </div>
                        </script>



                        <button type="button" class="btn btn-primary" ng-click="open()">
                                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Add a strata
                        </button>
                    </div>
                    <div class="col-md-2 text-center">
                        <div ng-controller="ModalSaveStrataCtrl">
                            <script type="text/ng-template" id="saveStrataContent.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">Save this strata</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Do you really want to save this strata ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>

                            <button ng-click="open('sm')" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                                Save
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">

                        <div ng-controller="ModalShowSimilarStrataCtrl">
                            <script type="text/ng-template" id="showSimilarStrataContent.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">List of similar artefacts</h3>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <td>#</td>
                                                <td>Artefact</td>
                                                <td>NB strata</td>
                                                <td>Diff NB strata</td>
                                                <td>Total comparison indicator</td>
                                                <td>Total matching</td>
                                                <td>Total relations</td>
                                                <td>Matching 100%</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat='result in results'>
                                                <td><strong>{{$index + 1}}</strong></td>
                                                <td><a href='#/artefact/{{result.artefact}}'>{{result.artefact}}</a></td>
                                                <td>{{result.stratum}}</td>
                                                <td>{{result.diffnbstratum}}</td>
                                                <td>{{result.tci}}</td>
                                                <td>{{result.totalmatching}}</td>
                                                <td>{{result.totalrelation}}</td>
                                                <td>{{result.matching100}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                </div>
                            </script>

                            <button ng-click="open('lg')" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                Find similar
                            </button>
                        </div>



                    </div>
                    <div class="col-md-2 text-center">
                        <div ng-controller="ModalExportStrataCtrl">
                            <script type="text/ng-template" id="exportStrataContent.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">Export to PNG</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Right click to download a strata.</p>
                                    <div ng-repeat="image in images">
                                        <stratapng index="{{$index}}"></stratapng>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                </div>
                            </script>

                            <button ng-click="open('lg')" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                Export to PNG
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div ng-controller="ModalDelStrataCtrl">
                            <script type="text/ng-template" id="delStrataContent.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">Delete this strata</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Do you really want to delete this strata ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                </div>
                            </script>

                            <button class="btn btn-primary" ng-click="open('sm')">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Delete this strata
                            </button>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div ng-controller="tabsStrata">
                    <div ng-hide="showTabForms">
                        <div class="jumbotron">
                            <h1>Stratigraphy visualizer</h1>
                            <p>Please select or add a strata to show its properties.</p>
                        </div>
                    </div>

                    <div class="row-fluid" ng-show="showTabForms">
                        <div class="col-md-7    ">
                            <blockquote>
                                <p>
                                    Strata : {{strataName}}
                                </p>
                            </blockquote>
                        </div>
                        <div class="col-md-5">
                            <blockquote>
                                <p>
                                    Nature family : {{natureFamilyname}}
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <tabset ng-show="showTabForms" justified="true">
                        <tab heading="Morphology" ng-controller="stratMorphologyCtrl" active="activeMorphologyTab">
                            <form>
                                <div class="row-fluid">
                                    <div class="col-md-6 form-group">
                                        <label for="morphologyShape">Shape</label>
                                        <select id="morphologyShape" class="form-control" ng-model="selectedShapeFamily" ng-options="x.name for x in shapeFamily" ng-change="upMorpho()">
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="morphologyWidth">Width</label>
                                        <select id="morphologyWidth" class="form-control" ng-model="selectedWidthFamily" ng-options="x.name for x in widthFamily" ng-change="upMorpho()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 form-group">
                                        <label for="morphologyThickness">Thickness</label>
                                        <select id="morphologyThickness" class="form-control" ng-model="selectedThicknessFamily" ng-options="x.name for x in thicknessFamily" ng-change="upMorpho()">
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="morphologyContinuity">Continuity</label>
                                        <select id="morphologyContinuity" class="form-control" ng-model="selectedContinuityFamily" ng-options="x.name for x in continuityFamily" ng-change="upMorpho()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-6 form-group">
                                        <label for="morphologyDirection">Direction</label>
                                        <select id="morphologyDirection" class="form-control" ng-model="selectedDirectionFamily" ng-options="x.name for x in directionFamily" ng-change="upMorpho()">
                                        </select>
                                    </div>
                                    <div ng-show="showColor" class="col-md-6 form-group">
                                        <label for="physicalPropertyColor">Colour</label>
                                        <select id="physicalPropertyColor" class="form-control" ng-model="selectedColourFamily" ng-options="x.name for x in colourFamily" ng-change="upMorpho()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div ng-show="showBrightness" class="col-md-6 form-group">
                                        <label for="physicalPropertyBrightness">Brightness</label>
                                        <select id="physicalPropertyBrightness" class="form-control" ng-model="selectedBrightnessFamily" ng-options="x.name for x in brightnessFamily" ng-change="upMorpho()">
                                        </select>
                                    </div>
                                    <div ng-show="showBrightness" class="col-md-6 form-group">
                                        <label for="physicalPropertyOpacity">Opacity</label>
                                        <select id="physicalPropertyOpacity" class="form-control" ng-model="selectedOpacityFamily" ng-options="x.name for x in opacityFamily" ng-change="upMorpho()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div ng-show="showMagnetism" class="col-md-6 form-group">
                                        <label for="physicalPropertyMagnetism">Magnetism</label>
                                        <select id="physicalPropertyMagnetism" class="form-control" ng-model="selectedMagnetismFamily" ng-options="x.name for x in magnetismFamily" ng-change="upMorpho()">
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab heading="Texture" ng-controller="stratTextureCtrl">
                            <form>
                                <div class="row-fluid">
                                    <div ng-show="showPorosity" class="col-md-6 form-group">
                                        <label for="texturePorosity">Texture</label>
                                        <select id="texturePorosity" class="form-control" ng-model="selectedPorosityFamily" ng-options="x.name for x in porosityFamily" ng-change="upTexture()">
                                        </select>
                                    </div>
                                    <div ng-show="showCohesion" class="col-md-6 form-group">
                                        <label for="textureCohesion">Cohesion</label>
                                        <select id="textureCohesion" class="form-control" ng-model="selectedCohesionFamily" ng-options="x.name for x in cohesionFamily" ng-change="upTexture()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div ng-show="showHardness" class="col-md-6 form-group">
                                        <label for="textureHardness">Hardness</label>
                                        <select id="textureHardness" class="form-control" ng-model="selectedHardnessFamily" ng-options="x.name for x in hardnessFamily" ng-change="upTexture()">
                                        </select>
                                    </div>
                                    <div ng-show="showCracking" class="col-md-6 form-group">
                                        <label for="textureCracking">Cracking</label>
                                        <select id="textureCracking" class="form-control" ng-model="selectedCrackingFamily" ng-options="x.name for x in crackingFamily" ng-change="upTexture()">
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab heading="Microstructure" ng-controller="stratMicrostructureCtrl">
                            <form>
                                <div class="row-fluid">
                                    <div ng-show="showCmlevelofcorrosionFamily" class="col-md-6 form-group">
                                        <label for="cmlevelofcorrosionFamily">CM Level of corrosion</label>
                                        <select id="cmlevelofcorrosionFamily" class="form-control" ng-model="selectedCmlevelofcorrosionFamily" ng-options="x.name for x in cmlevelofcorrosionFamily" ng-change="upMicrostructure()">
                                        </select>
                                    </div>
                                    <div ng-show="showcprimicrostructureFamily" class="col-md-6 form-group">
                                        <label for="cpriMicrostructureFamily">cpriMicrostructure</label>
                                        <select id="cpriMicrostructureFamily" class="form-control" ng-model="selectedCprimicrostructureFamily" ng-options="x.name for x in cprimicrostructureFamily" ng-change="upMicrostructure()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">

                                    <div ng-show="showcprimicrostructureaggregatecompositionFamily" class="col-md-6 form-group">
                                        <label for="cprimicrostructureaggregatecomposition">CPRI microstructure aggregate composition</label>
                                        <select id="cprimicrostructureaggregatecomposition" class="form-control" ng-model="selectedCprimicrostructureaggregatecompositionFamily" ng-options="x.name for x in cprimicrostructureaggregatecompositionFamily" ng-change="upMicrostructure2()">
                                        </select>
                                    </div>
                                    <!-- sub CM Level of Corrosion n'est pas affiché pour l'instant. Demander à Christian Degrigny pourquoi
                                    <div ng-show="showsubcmlevelofcorrosionFamily" class="col-md-6 form-group">
                                        <label for="subcmlevelofcorrosionFamily">Sub CM Level of corrosion</label>
                                        <select id="subcmlevelofcorrosionFamily" class="form-control" ng-model="selectedSubcmlevelofcorrosionFamily" ng-options="x.name for x in subcmlevelofcorrosionFamily" ng-change="upMicrostructure()">
                                        </select>
                                    </div>-->
                                </div>
                                <div class="row-fluid">

                                    <div ng-show="showsubcprimicrostructureaggregatecompositionFamily" class="col-md-6 form-group">
                                        <label for="subcprimicrostructureaggregatecompositionFamily">Sub CPRI microstructure aggregate composition</label>
                                        <select id="subcprimicrostructureaggregatecompositionFamily" class="form-control" ng-model="selectedSubcprimicrostructureaggregatecompositionFamily" ng-options="x.name for x in subcprimicrostructureaggregatecompositionFamily" ng-change="upMicrostructure3()">
                                        </select>
                                    </div>
                                    <div ng-show="showmmicrostructureFamily" class="col-md-6 form-group">
                                        <label for="mMicrostructureFamily">mMicrostructure</label>
                                        <select id="mMicrostructureFamily" class="form-control" ng-model="selectedMmicrostructureFamily" ng-options="x.name for x in mmicrostructureFamily" ng-change="upMicrostructure()">
                                        </select>
                                    </div>

                                </div>
                                <div class="row-fluid">
                                    <div ng-show="showsubsubcprimicrostructureaggregatecompositionFamily" class="col-md-6 form-group">
                                        <label for="subsubcprimicrostructureaggregatecompositionFamily">Sub Sub CPRI microstructure aggregate composition</label>
                                        <select id="subsubcprimicrostructureaggregatecompositionFamily" class="form-control" ng-model="selectedSubsubcprimicrostructureaggregatecompositionFamily" ng-options="x.name for x in subsubcprimicrostructureaggregatecompositionFamily" ng-change="upMicrostructure()">
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group"></div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-12 form-group" ng-show="showsubcprimicrostructureFamily" data-ng-controller="PickListCtrl">
                                        <label class="control-label">Sub cpriMicrostructure</label>
                                        <picklist size="10"  data-picklist="" data-pick-model="selectedSubcprimicrostructureFamily" data-pick-options="v.name for v in subcprimicrostructureFamily"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-12 form-group" ng-show="showsubmmicrostructureFamily" data-ng-controller="PickListCtrl">
                                        <label class="control-label">Sub mMicrostructure</label>
                                        <picklist size="10"  data-picklist="" data-pick-model="selectedSubmmicrostructureFamily" data-pick-options="v.name for v in submmicrostructureFamily"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-12 form-group" ng-show="showcprimicrostructureaggregatecompositionextensionFamily" data-ng-controller="PickListCtrl">
                                        <label class="control-label">CPRI Microstructure aggregate composition extension</label>
                                        <picklist size="10"  data-picklist="" data-pick-model="selectedCprimicrostructureaggregatecompositionExtensionFamily" data-pick-options="v.name for v in cprimicrostructureaggregatecompositionExtensionFamily"/>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab heading="Composition" ng-controller="stratCompositionCtrl">
                            <form>
                                <div class="row-fluid">
                                    <div ng-show="showScomposition" class="col-md-6 form-group">
                                        <label for="sCompositionFamily">sComposition</label>
                                        <select id="sCompositionFamily" class="form-control" ng-model="selectedscompositionFamily" ng-options="x.name for x in scompositionFamily" ng-change="upComposition()">
                                        </select>
                                    </div>
                                    <div ng-show="showNmmcomposition" class="col-md-6 form-group">
                                        <label for="nmmCompositionFamily">nmmComposition</label>
                                        <select id="nmmCompositionFamily" class="form-control" ng-model="selectedNmmcompositionFamily" ng-options="x.name for x in nmmcompositionFamily" ng-change="upComposition()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div ng-show="showDcomposition" class="col-md-6 form-group">
                                        <label for="dCompositionFamily">dComposition</label>
                                        <select id="dCompositionFamily" class="form-control" ng-model="selectedDcompositionFamily" ng-options="x.name for x in dcompositionFamily" ng-change="upComposition()">
                                        </select>
                                    </div>
                                    <div ng-show="showPomcomposition" class="col-md-6 form-group">
                                        <label for="pomCompositionFamily">pomComposition</label>
                                        <select id="pomCompositionFamily" class="form-control" ng-model="selectedPomcompositionFamily" ng-options="x.name for x in pomcompositionFamily" ng-change="upComposition()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div ng-show="showCmcomposition" class="col-md-6 form-group">
                                        <label for="cmCompositionFamily">cmComposition</label>
                                        <select id="cmCompositionFamily" class="form-control" ng-model="selectedCmcompositionFamily" ng-options="x.name for x in cmcompositionFamily" ng-change="upComposition2()">
                                        </select>
                                    </div>
                                    <div ng-show="showsubcmcompositionFamily" class="col-md-6 form-group">
                                        <label for="subcmcompositionFamily">Sub CM composition</label>
                                        <select id="subcmcompositionFamily" class="form-control" ng-model="selectedSubcmcompositionFamily" ng-options="x.name for x in subcmcompositionFamily" ng-change="upComposition()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div ng-show="showMcomposition" class="col-md-6 form-group">
                                        <label for="mCompositionFamily">mComposition</label>
                                        <select id="mCompositionFamily" class="form-control" ng-model="selectedMcompositionFamily" ng-options="x.name for x in mcompositionFamily" ng-change="upComposition2()">
                                        </select>
                                    </div>
                                    <div ng-show="showCpcomposition" class="col-md-6 form-group">
                                        <label for="cpCompositionFamily">cpComposition</label>
                                        <select id="cpCompositionFamily" class="form-control" ng-model="selectedCpcompositionFamily" ng-options="x.name for x in cpcompositionFamily" ng-change="upComposition2()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div ng-show="showsubcpcompositionFamily" class="col-md-6 form-group">
                                        <label for="subcpcompositionFamily">Sub CP composition</label>
                                        <select id="subcpcompositionFamily" class="form-control" ng-model="selectedSubcpcompositionFamily" ng-options="x.name for x in subcpcompositionFamily" ng-change="upComposition3()">
                                        </select>
                                    </div>
                                    <div ng-show="showsubsubcpcompositionFamily" class="col-md-6 form-group">
                                        <label for="subsubcpcompositionFamily">Sub Sub CP composition</label>
                                        <select id="subsubcpcompositionFamily" class="form-control" ng-model="selectedSubsubcpcompositionFamily" ng-options="x.name for x in subsubcpcompositionFamily" ng-change="upComposition()">
                                        </select>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div ng-show="showsubmcompositionFamily" class="col-md-6 form-group">
                                        <label for="submcompositionFamily">Sub mComposition</label>
                                        <select id="submcompositionFamily" class="form-control" ng-model="selectedSubmcompositionFamily" ng-options="x.name for x in submcompositionFamily" ng-change="upComposition()">
                                        </select>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="col-md-12 form-group" ng-show="showcpcompositionextensionfamily" data-ng-controller="PickListCtrl">
                                        <label class="control-label">CP Composition Extension</label>
                                        <picklist size="10"  data-picklist="" data-pick-model="selectedCpcompositionextensionFamily" data-pick-options="v.name for v in cpcompositionextensionFamily"/>
                                    </div>
                                </div>

                            </form>
                        </tab>
                        <tab heading="Interfaces" ng-controller="stratInterfaceCtrl" active="activeTabInterface">
                            <div class="row-fluid">
                                <div class="col-md-6 form-group">
                                    <label for="interfaceProfileFamily">Profile</label>
                                    <select id="interfaceProfileFamily" class="form-control" ng-model="selectedInterfaceprofileFamily" ng-options="x.name for x in interfaceprofileFamily" ng-change="upInterface()">
                                    </select>
                                </div>
                                <div ng-show="showinterfacetransition" class="col-md-6 form-group">
                                    <label for="interfaceTransitionFamily">Transition</label>
                                    <select id="interfaceTransitionFamily" class="form-control" ng-model="selectedInterfacetransitionFamily" ng-options="x.name for x in interfacetransitionFamily" ng-change="upInterface()">
                                    </select>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div ng-show="showinterfaceroughness" class="col-md-6 form-group">
                                    <label for="interfaceRoughnessFamily">Roughness</label>
                                    <select id="interfaceRoughnessFamily" class="form-control" ng-model="selectedInterfaceroughnessFamily" ng-options="x.name for x in interfaceroughnessFamily" ng-change="upInterface()">
                                    </select>
                                </div>
                                <div ng-show="showinterfaceadherence" class="col-md-6 form-group">
                                    <label for="interfaceAdherenceFamily">Adherence</label>
                                    <select id="interfaceAdherenceFamily" class="form-control" ng-model="selectedInterfaceadherenceFamily" ng-options="x.name for x in interfaceadherenceFamily" ng-change="upInterface()">
                                    </select>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
            <div id="hello" class="col-md-6">
                <div id="stratasvg" class="row-fluid">

                    <div class="col-md-11" ng-repeat="strata in rstratas">
                        <stratainfo index="{{$index}}"></stratainfo>
                        <strata index="{{$index}}"></strata>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>